<link rel='stylesheet' href='css/team-page.css'/>
<div class="ui center aligned grid">
    <div class="fourteen wide column" id="mgtop">
        <div class="ui huge header"> WHAT YOU'RE LOOKING FOR
        </div>
    </div>
    <div class="centered row">
        <div class="ui massive action input">
            <input type="text" placeholder="Search...">
            <button class="ui button" id="searchbut">Search</button>
        </div>
    </div>

    <!--  -->
    <div class="ui row" id="divtable">

        <table class="ui center aligned celled table">
            <thead>
                <tr>
                    <th>Event</th>
                    <th>Sport</th>
                    <th>Team</th>
                    <th>Player</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Show the filtered event here</td>
                    <td>Show the filtered sport here</td>
                    <td>Show the filtered team here</td>
                    <td>Show the filtered player here</td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="three column centered row">
        <div class="five wide column">
            <div class="ui cards">
                <div class="card">
                    <div class="center aligned content">
                        <div class="header">Today's Winner</div>
                        <div class="description">
                            <div class="ui list">
                                <div class="item"> 1. Team 1 </div>
                                <div class="item"> 2. Team 2 </div>
                                <div class="item"> 3. Team 3 </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="column">
            <div class="ui cards">
                <div class="card">
                    <div class="center aligned content">
                        <div class="header">Today's Events</div>
                        <div class="description">
                            <div class="ui list">
                                <div class="item"> 1. Event 1 </div>
                                <div class="item"> 2. Event 2 </div>
                                <div class="item"> 3. Event 3 </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="column">
            <div class="ui cards">
                <div class="card">
                    <div class=" center aligned content">
                        <div class="header">Today's Top Players</div>
                        <div class="description">
                            <div class="ui list">
                                <div class="item"> 1. Player 1 </div>
                                <div class="item"> 2. Player 2 </div>
                                <div class="item"> 3. Player 3 </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>


    </div>
</div>
