<!DOCTYPE html>
<html>
<head>
    <title>128 Template</title>
    <link rel='stylesheet' href='assets/stylesheets/semantic.min.css'/>
    <link rel='stylesheet' href='assets/stylesheets/defaults.css'/>
    <script type='text/script' src='assets/scripts/jquery-3.1.1.min.js'></script>
    <script type='text/script' src='assets/scripts/semantic.min.js'></script>
</head>
<body>
    <!-- NAVIGATION SECTION -->
    <div class="ui fixed inverted menu" id="page-navigation">
        <div class="ui container">
            <a href="#" class="header item">
                <img class="logo" src="assets/images/logo.jpg">
                &nbsp;&nbsp;MALICSI
            </a>
            <a href="#" class="item">Home</a>
            <a href="#" class="item">Events</a>
            <a href="#" class="item">Home</a>

            <div class="alight right ui simple dropdown item">
                Reg Recario <i class="dropdown icon"></i>
                <div class="menu">
                    <a class="item" href="#">Profile</a>
                    <a class="item" href="#">Activity Log</a>
                    <a class="item" href="#">Lgout</a>
                </div>
            </div>
        </div>
    </div>


    <!-- CONTENT SECTION -->
    <div class="ui main" id="main-panel">
        <div class="ui container">


       		  CONTENT


        </div>
    </div>


    <!-- FOOTER SECTION -->
    <div class="ui inverted vertical footer segment" id="page-footer">
        <div class="ui center aligned container">
            <div class="ui center aligned stackable inverted divided grid">
                <div class="seven wide column">
                    <h4 class="ui inverted header">Footer Section</h4>
                    <p>We all love playing balls.</p>
                </div>
            </div>
            <div class="ui inverted section divider"></div>
            <div class="ui horizontal inverted small divided link list">
                <a class="item" href="#">Contact Us</a>
                <a class="item" href="#">Terms and Conditions</a>
                <a class="item" href="#">Privacy Policy</a>
            </div>
        </div>
    </div>

</body>
</html>
