<!DOCTYPE html>
<html ng-app = "mainApp">
<head>
	<title> MalICSi </title>
	<link rel="stylesheet" type="text/css" href="css/semantic.min.css">
	<link rel='stylesheet prefetch' href='semantic/components/icon.min.css'>
	<link rel="stylesheet" type="text/css" href="semantic/semantic.min.css">
</head>

<body>
    <div id="login-header" class="ui middle aligned center aligned three column grid">
        <div class="column">
            <h2 class="image header">
                <img class="ui centered small circular image">
            </h2>
            <div class="ui inverted stacked segment">
            <form class="ui large form" ng-controller="userController as login">
                    <div class="field">
                        <div class="ui left icon input">
                            <i class="user icon"></i>
                            <input placeholder="Username" type="text" ng-model="login.username">
                        </div>
                    </div>
                    <div class="field">
                        <div class="ui left icon input">
                            <i class="lock icon"></i>
                            <input placeholder="Password" type="password" ng-model="login.password">
                        </div>
                    </div>
                    <div class = "field">
                    <button class="ui fluid large teal submit button" type="submit" ng-click="login.loginUser()">Login
                    </div>
                    <button class="ui fluid medium grey submit button" ng-click="login.openModal()">Sign Up
            </form>
            </div>
        </div>
   </div>
    <div id="login-eventsinfo" class="ui vertical stripe segment">
        <div id="grid-margin" class="ui grid">
            <div class="column"></div>
            <div class="seven wide column">
                <div class="ui inverted green segment">
                    <h3>ABOUT US</h3>
                </div>
                <div class="ui teal segment">
                    <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris at ante congue, mattis nibh ut, maximus velit. Curabitur nec nisi vulputate neque accumsan molestie ut sed purus. Vestibulum lobortis nibh sed bibendum porta. Praesent semper mauris id rutrum consectetur. Cras sit amet cursus libero. Quisque cursus volutpat metus vitae viverra. Integer in quam a augue tempor euismod. Quisque accumsan metus ligula, nec tempor magna vehicula id. Quisque et lacus euismod, imperdiet ante vitae, placerat dolor. Aliquam ultrices turpis semper, vestibulum lectus a, tempus massa. Suspendisse id orci dui. </p>
                </div>
            </div>
            <div class="seven wide column">
                <div class="ui inverted green segment">
                    <h3>WHY US</h3>
                </div>
                <div class="ui teal segment">
                    <p> Curabitur eleifend dapibus velit at aliquam. Aenean nec finibus dui. Proin a varius urna. Integer finibus neque justo, a ultrices turpis egestas ut. Aenean mi nibh, tincidunt a ligula eget, cursus laoreet enim. Duis id lacus eget felis suscipit egestas vitae a turpis. Vivamus tristique ullamcorper nibh sit amet viverra. Sed elementum nisl et libero ullamcorper pretium. In fringilla mattis consequat. Quisque consequat efficitur malesuada. Mauris hendrerit tortor sed urna dapibus fermentum. Vestibulum sit amet maximus leo, nec lacinia justo. Integer fermentum porttitor sem, finibus mollis augue luctus ac.

Interdum et malesuada fames ac ante ipsum primis in faucibus. Nullam pellentesque leo ac urna tincidunt sagittis. Vestibulum feugiat est sed augue eleifend, ut facilisis quam hendrerit. Phasellus consequat varius metus. Aliquam faucibus ornare magna et venenatis. Curabitur commodo posuere mollis. Donec tempus ligula non ex maximus blandit. Fusce euismod arcu posuere est auctor, dictum pretium magna porttitor. Pellentesque ac velit varius enim rhoncus commodo sit amet pretium nisi. Phasellus magna nisi, mattis quis mollis non, imperdiet id metus. Donec quis metus sollicitudin sem pretium consectetur id a quam. Nam at dolor molestie, consequat lacus nec, fermentum lectus. Suspendisse sodales auctor finibus. Integer accumsan tincidunt placerat. </p>
                </div>
            </div>
            <div class="column"></div>
        </div>
    </div>

    <div class="ui modal" id="signup-modal">
    <div class="header">Sign Up Sheet</div>
    <div class="content">
        <form ng-controller="userController as signUp">
        	<div class="ui form">
			  <div class="fields">
			    <div class="field">
			      <label>Username</label>
			      <input type="text" placeholder="Username" ng-model="signUp.newUser.username">
			    </div>
			    <div class="field">
			      <label>Password</label>
			      <input type="password" placeholder="Password" ng-model="signUp.newUser.password">
			    </div>
			  </div>
			  <div class="equal width fields">
			    <div class="field">
			      <label>First name</label>
			      <input type="text" placeholder="First Name" ng-model="signUp.newUser.firstname">
			    </div>
			    <div class="field">
			      <label>Last name</label>
			      <input type="text" placeholder="Last Name" ng-model="signUp.newUser.lastname">
			    </div>
			  </div>
			</div>
		    <div class="ui actions">
		        <div class="ui close button" ng-click="signUp.closeModal()">Cancel</div>
		        <div class="ui button" type="submit" ng-click="signUp.registerUser()">Sign Up</div>
    		</div>
        </form>

    </div>
	</div>

    <script src="jquery-3.1.1.js"></script>
	<script src="semantic/semantic.js"></script>
    <script src="semantic/semantic.min.js"></script>
    <script src="angular.js"></script>
    <script src="app.module.js"></script>
    <script src="angular-route.js"></script>
    <script src="user.controller.js"></script>
</body>
</html>
