body {
    background: url("../images/guest.jpg");
    border: solid 1px rgba(0,0,0,0);
    background-size: cover;
    background-attachment: fixed;
    background-position: top center;
}

/* special navigation bar */
#page-navigation {
    display: none;
}

#page-navigation-2 {
    height: 65px !important;
    background: rgba(0,0,0,0.5);
}

#logo {
    width: 150px;
}

#main-wrapper {
    background-size: 100%;
    margin-top: 65px !important;
    margin-bottom: 0 !important;
}

#login-button {
    background-color: #2B2B2B;
    color: white;
}

#preview-panel {
    width: 100vw;
    height: 120px;
    background: rgba(0,0,0,0.5);
    position: absolute;
    bottom: 0;
    padding-left: 5%;
    padding-right: 5%;
}

.game-preview {
    width: 18% !important;
    height: 90px;
    background: rgba(0,0,0,0.5);
    display: inline-block;
    padding: 5px;
    padding-left: 10px;
    transition: all 0.1s linear;
    border-left: solid 1px rgba(255, 0, 0, 0.5);
    margin-right: 15px;
}

.game-preview:hover {
    background-color: rgba(255,0,0,0.1);
    transform: scale(1.1);
}

input, .button {
    height: 35px !important;
}

#event-redirect {
    height: 90px;
    width: 100px !important;
    position: absolute;
    right: 20px;
    bottom: 0;
    background-color: rgba(255,0,0,0.1);
    color: white;
    text-align: center;
    font-size: 15pt;
    padding-top: 22px;
    line-height: 15px;
    border-top: solid 1px rgba(255, 0, 0, 0.5);
}

.guest-games {
    line-height: 10px;
}

.guest-games h3 {
    margin-bottom: -20px;
    color: #DE1B1B;
}

.guest-games h5 {
    margin-bottom: -20px;
    color: #DEDEDE;
}

.guest-games p {
    color: #999;
}
