body {
    overflow: scroll;
    background: url("../images/guest.jpg");
    border: solid 1px rgba(0,0,0,0);
    background-size: cover;
    background-attachment: fixed;
    background-position: top center;
}

/* special navigation bar */
#page-navigation {
    display: none;
}

#page-navigation-2 {
    height: 65px !important;
    background: rgba(0,0,0,0.5);
}

#logo {
    width: 150px;
}

#main-wrapper {
    background-size: 100%;
    margin-top: 65px !important;
    margin-bottom: 0 !important;
}

#login-button {
    background-color: #2B2B2B;
    color: white;
}

#preview-panel {
    /*background: rgba(0,0,0,0.5);*/
    width: 90% !important;
    height: 120px;
    position: absolute;
    bottom: 0;
}

.game-preview {
    height: auto;
    display: inline-block;
    padding: 10px !important;
}

.guest-games:hover {
    background-color: rgba(255,0,0,0.3);
    transform: scale(1.1);
    transform: translate(0, -15px);
    color: white !important;
}

.guest-games {
    height: auto;
    min-height: 120px;
    background: rgba(0,0,0,0.8);
    transition: all 0.1s linear;
    border-left: solid 2px rgba(255, 0, 0, 0.5);
    padding: 10px;
}

.guest-games h4 {
    color: #DE1B1B;
}

.guest-games p {
    color: #999;
}

input, .button {
    height: 35px !important;
}

#event-redirect {
    width: 10% !important;
    position: fixed;
    right: 20px;
    bottom: 20px;
    text-align: center;
}

#events-wrapper {
    width: 100px;
    height: 100px !important;
    font-size: 15pt;
    padding: 20px;
}
