body {
    margin: 0 !important;
    background: url("../images/register.jpg");
    background-attachment: fixed;
    background-size: 100%;
}

#main-wrapper {
    margin: 0 !important;
    min-height: calc(100vh - 65px) !important;
}

.form-head {
  text-transform: uppercase;
}

label{
	text-align: left;
}

#login-button{
	background-color: #DE1B1B;
	color: white;
}

#register-div {
    /*display: none;*/
}

#image-header {
    /*border: solid 1px red;*/
    text-align: center;
    margin-top: 20px;
}

#image-header img {
    width: 20%;
}

#forms {
    /*border: solid 1px red;*/
    margin-top: 20px;
    margin-bottom: 50px;

}

#back {
    position: absolute;
    top: 20px;
    left: 20px;
}

#page-navigation {
    display: none !important;
}
