#main-wrapper {
    margin-bottom: 50px !important;
}

.command-button {
    display: inline-block;
    width: 50px !important;
    color: white;
}

#accept {
    background-color: #32CD32;
}

#decline {
    background-color: #333;
}

#accept:hover, #decline:hover {
    background-color: #de1b1b;
    transform: scale(1.1);
}

a {
    color: black;
}

#main-card {
}

#segment {
}

#card {
    text-align: center;
}

.segment {
    color: #999999;
}

.segment:hover {
    color: black;
}

.active-tab {
    /*transform: scale(1.1) !important;*/
    border-top: solid 3px #de1b1b !important;
    font-weight: bold;
    color: black;
}

.search-bar {
    width: 100%;
    margin-bottom: 20px;
}
