#accept:hover, #decline {
        background-color: #de1b1b;
        color: white;
        
    }
#decline:hover, #accept {
        background-color: #32CD32;
        color: white;
}
a {
        color: black;
}
#main_card {
    width: 100%;
}
#segment {
    margin-top: -35px; 
    margin-right: -35px; 
    margin-left: -35px;
}