div {
    /*border: solid 1px red;*/
}

#public-event {
    height: calc(100vh - 65px);
    margin-top: 65px;
    text-align: center;
}

#feeds-panel {
    min-height: calc(100vh - 65px);
    /*background-color: #1A1A1D;*/
    background-color: #F6F6F6;
    background-image: url('../images/patterns/3.png ');
}

#leadchart {
    height: 400px !important;
}

#feeds-trigger {
    padding: 10px;
    color: white !important;
    border: solid 2px white;
    background: rgba(0, 0, 0, 0);
}
#event-name {
    text-align: center;
}

#event-details {
    text-align: justify;
}

.card {
    padding: 20px;
    /*background: #F6F6F6;*/
    margin-bottom: 20px;
    border: solid 1px rgba(0,0,0,0.5);
}

.main-section {
    border: soild 1px red;
}

.section-title {
    margin-bottom: 10px;
}

.sport-panel, .team-panel {
    background-color: white;
    color: #0d2235;
}

#right-panel {
    padding-left: 0;
}

.member-request {
    display: inline-block !important;
    padding: 3px !important;
    width: 100% !important;
    background: #DEDEDE !important;
    line-height: 40px;
    color: #666;
    box-shadow: none !important;
}

.request-icon {
    height: 35px;
    width: 35px;
    border: none;
    margin: 3px;
    line-height: 35px;
    border-radius: 100%;
    float: left;
}

.request-text {
    display: inline-block;
    text-indent: 10px;
}

.membership-command {
    height: 35px;
    width: 35px;
    border: none;
    margin: 3px;
    line-height: 35px;
    border-radius: 100%;
    color:
}

.request-approve {
    float: right;
}

.request-approve button {
    background-color: #F6F6F6;
}

.request-decline {
    float: right;
}

.request-decline button {
    background-color: #F6F6F6;
}
