div {
    /*border: solid 1px red;*/
}

body {
    padding: 0;
    background: url("../images/grass.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#page-navigation {
    background: rgba(0,0,0,0);
    height: 65px !important;
}

.nav-scrolled {
    background: #DE1B1B !important;
    transition: all 500ms linear;
}

#overlay {
    background: rgba(0, 0, 0, 0.9);
    position: absolute;
    min-width: 100vw;
    min-height: calc(100vh + 100px);
    margin-top: -100px;
    z-index: -1000;
}

#main-wrapper {
    /*border: solid 1px red;*/
}

#page-footer-1 {
    height: 100px;
    background-color: #CDCDCD;
    background-image: url('../images/patterns/3.png');
    border-bottom: solid 3px #0d2235 !important;
    box-shadow: 1px 1px 5px rgba(0,0,0,0.5);
}

#page-footer-1 a {
    color: #bc0203;
}

#page-footer-2 {
    height: 50px;
    background: #bc0203;
    color: #e7eae1 !important;
}

#main-panel {
    min-height: calc(100vh - 150px) !important;
    margin-top: 55px;
    padding: 20px;
}

#login-panel {
    margin-top: 100px;
}

.link-icon {
    padding: 20px;
    font-size: 20px !important;
    background: #04050a;
    line-height: 5px;
    text-indent: -5px;
    text-align: center;
    border-radius: 100%;
}
