div {
    /*border: solid 1px red;*/
}

.command-btn {
    background: #e9e581;
    height: 30px;
    width: 30px;
    text-align: center;
    border: none;
    border-radius: 100%;
    float: right;
}

.event-section {
    /*border: solid 1px red;*/
    margin-bottom: 20px;
}

<<<<<<< HEAD
/*.ui.segment{
    background-color:rgba(0, 0, 0, 0.5);
}

.ui.header {
    color: white;
}*/

#panel {
	background:rgba(23, 24, 20, 0.5);
	height: 150px;
	display: none;
	padding: 15px;
}
.slide {
	margin: 0;
	padding: 0;
	border-top: solid 4px #422410;
	background: url(images/btn-slide.gif) no-repeat center top;
}
.btn-slide {
	background: url(images/white-arrow.gif) no-repeat right -50px;
	text-align: center;
	width: 144px;
	height: 31px;
	padding: 10px 10px 0 0;
	margin: 0 auto;
	display: block;
	font: bold 120%/100% Arial, Helvetica, sans-serif;
	color: #fff;
	text-decoration: none;
}
.active {
	background-position: right 12px;
=======
.score-section {
    /*border: solid 1px red;*/
    /*margin-bottom: 20px;*/
}
.score-card {
    height: 150px !important;
    width: 22% !important;
    padding: 0 !important;
    margin-left: 3% !important;
    transition: all 0.9s linear;
    align: center;
    background-color: black !important;
    color: white;

}

.score-card:hover {
    /*background-color: #e9e581 !important;*/
    box-shadow: 5px 5px 10px #b1b1b1;
}

.card-content {
    text-align: center;
    padding: 20px;
}

.card-content2 {
    width: 30% !important;
}

.view-all {
    margin-top: 8%;
}

.team1-section {
    width:30%;
    text-align: center;
}

.team2-section {
    width:30%;
    text-align: center;
}

.versus {
    margin-top: 12%;
}

#see-score {
    width: 100% !important;
>>>>>>> b2a07979a63e8eb01aa8240e5f4c79fff1d5f7bd
}
