#user-interest{
	min-height: 300px;
}

#list-of-teams{
	min-height:300px;
}

#delete-interest{
	background-color: #de1b1b;
	color:white;
}

#add-interest{
    width: auto !important;
	background-color: #de1b1b;
	color:white;
}

#updateButton{
	background-color: #de1b1b;
	color:white;
}

#create{
	background-color: #de1b1b;
	color:white;
}

#cancel-create{
	background-color: #de1b1b;
	color:white;
}

#cancel-update{
	background-color: #de1b1b;
	color:white;
}

.team-item {
    text-align: left !important;
}

#profile-image {
    width: 150px !important;
    height: 150px !important;
    border-radius: 100% !important;
    background-color: black;
}

.actions {
    width: 100%;
    text-align: right;
}
