div {
	/*border: solid 1px red;*/
}

#sport-wrapper {
	/*margin-top: 85px;*/
}

#maintable th {
	background-color: #2B2B2B;
	color: white;
}

#maintable tr:hover {
	background-color: #E9E581;
}

#scoreboardDetails {
	width:100%;
}

#scoreboardDetailsTable {
	width: 100%;
}

#sidebar {
	text-align: center;
}

#sidebar h4 {
	/*margin-bottom: 10px;*/
}

.tablink {
	width: 100%;
	height: 50px;
	border: none;
	margin-bottom: 5px;
}

.tab-active {
	background: #DE1B1B;
	color: white;
}
