#sport-wrapper {
	/*margin-top: 85px;*/
}

#maintable th {
	background-color: #2B2B2B;
	color: white;
}

#maintable tr:hover {
	background-color: #E9E581;
}

a {
        color: black;
}
#main_card {
    width: 100%;
}
#segment {
    margin-top: -35px; 
    margin-right: -35px; 
    margin-left: -35px;
}