#sport-wrapper {
	/*margin-top: 85px;*/
}

#maintable th {
	background-color: #2B2B2B;
	color: white;
}

#maintable tr:hover {
	background-color: #E9E581;
}

#sidebar {
	width:200px;
	height:100%;
	margin-top:5px;
	background-color: #f7f7f7;
}

#scoreboardDetails {
	margin-left:100px;
	margin-top:20px;
	width:100%; 
}

#scoreboardDetailsTable {
	margin-left:75px;
	width:98%;
	padding:2%;
	margin-right:30px;
}