<link rel="stylesheet" href="css/admin.css"></link>

<div class="ui container" id="main-wrapper" >
<div class="ui header">
    Events</div>
<div class="ui row">
    <table class="ui center aligned table">
        <thead>
            <tr>
                <th>Sponsor Name</th>
                <th colspan="4"> Commands </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Gab Sponsor</td>
                <td>
                    <div class="ui animated button">
                        <!-- <div class="hidden content">Edit</div> -->
                        <div class="visble content"> <i class="edit icon"> </i> </div>
                    </div>
                </td>
                <td>
                    <div class="ui animated button">
                        <div class="visible content">Delete</div>
                        <div class="hidden content"> <i class="trash icon"> </i> </div>
                    </div>
                </td>

            </tr>

        </tbody>
        <tfoot class="full-width">
            <tr>
                <th colspan="100%">
                    <div class="ui right floated small primary labeled icon button">
                        <i class="add to calendar icon"></i> Add Sponsor
                    </div>
                </th>
            </tr>

        </tfoot>
    </table>

</div>
</div>