<link rel="stylesheet" type="text/css" href="css/admin-homepage.css"> </link>
<script type='text/javascript' src='js/admin.js'></script>

<div ng-controller="adminController">
<div class="ui container" id="main-wrapper">
    <div class="" id="main-card">
        <div class="content">
            <div class="ui horizontal center aligned segments" id="segment">
                <a class="ui segment" href="/#!/admin">Requests</a>
                <a class="ui segment" href="/#!/admin/users">Users</a>
                <a class="active-tab ui segment" href="/#!/admin/events">Events</a>
                <a class="ui segment" href="/#!/admin/event/1/games">Games</a>
                <a class="ui segment" href="/#!/admin/sports">Sports</a>
                <a class="ui segment" href="/#!/admin/sponsors">Sponsors</a>
            </div>

            <div class="ui row" ng-controller="eventController as event">

                <div class="ui modal" id="add-modal">
                    <form class="ui form" ng-controller="eventController as event">
                        <h2 class="ui dividing header">CREATE EVENT</h2>
                        <div class="field">
                            <label>Event Name</label>
                            <input type="text" ng-model="event.eventName" name="event_name">
                        </div>
                        <div class="fields" ng-controller="loggedUserController as logged">
                            <div class="field">
                                <label>Start Date</label>
                                <div class="ui calendar" id="datetime">
                                    <div class="ui input left icon">
                                      <i class="calendar icon"></i>
                                      <input type="text" placeholder="Date/Time" ng-model="event.dateStart">
                                    </div>
                                </div>
                            </div>
                            <div class="field">
                                <label>End Date</label>
                                <div class="ui calendar" id="datetime">
                                    <div class="ui input left icon">
                                      <i class="calendar icon"></i>
                                      <input type="text" placeholder="Date/Time" ng-model="event.dateEnd">
                                    </div>
                                </div>
                            </div>
                            <button class="ui green ok inverted button event" id="submit-create" ng-click="event.addEventModal(logged.userId,'add-modal');event.closeModal('add-modal')">
                                Submit
                            </button>
                            <button class="ui red cancel inverted button event"  ng-click="event.closeModal('add-modal')">
                                Cancel
                            </button>

                        </div>
                    </form>
                    <div class="actions">
                        <div class="ui red basic cancel inverted button" ng-click="event.closeModal('add-modal')">Cancel</div>

                    </div>
                </div>




                <table class="ui center aligned table" ng-init="event.viewAllEvent()">
                    <thead>
                        <tr>
                            <th>Event ID</th>
                            <th>Event Name</th>
                            <th>Allowed Registration (Yes or No)</th>
                            <th>Date Start </th>
                            <th>Date End</th>
                            <th>Duration</th>
                            <th colspan="4"> Commands </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="x in event.allEvents">
                            <td> {{x.event_id}}</td>
                            <td> {{x.event_name}}</td>
                            <td> {{x.allow_reg == '1' ? 'Yes' : 'No'}}</td>
                            <td> {{x.date_start}}</td>
                            <td>{{x.date_end}}</td>
                            <td>{{x.duration}} days</td>
                            <td>
                                <div ng-click="event.setEvent(x.event_id,x.event_name,x.date_start,x.date_end,x.allow_reg)">
                                    <div class="ui animated button" id="edit" ng-click="event.openModal('edit-event-modal')">
                                        <div class="visible content"><i class="edit icon"> </i></div>
                                        <div class="hidden content"> Edit </div>
                                    </div>
                                </div>
                                <div class="ui modal" id="edit-event-modal">
                                    <div class="header"> UPDATE EVENT</div>
                                    <div class="content">
                                        <div class="ui form">
                                            <div class="field">
                                                <label>Sponsor Name</label>
                                                <input type="text" maxlength="50" ng-model="event.updateEventName">
                                            </div>
                                            <div class="fields">
                                                <div class="field">
                                                    <label>Start Date</label>
                                                    <div class="ui calendar" id="start-date-pick">
                                                        <div class="ui input left icon">
                                                            <i class="calendar icon"></i>
                                                            <input type="text" placeholder="Date" name="start_date" ng-model="event.updateDateStart">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="field">
                                                    <label>End Date</label>
                                                    <div class="ui calendar" id="end-date-pick">
                                                        <div class="ui input left icon">
                                                            <i class="calendar icon"></i>
                                                            <input type="text" placeholder="Date" name="end_date" ng-model="event.updateDateEnd">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="fields">
                                                    <div class="field">
                                                        <label>Open for registration?</label>
                                                        <form>
                                                            <input type="radio" name="register" ng-model="event.updateAllowReg" value="1" checked> Yes<br>
                                                            <input type="radio" name="register" ng-model="event.updateAllowReg" value="0"> No<br>
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                            <br>
                                            <div class="ui button" id="cancel" ng-click="event.closeModal('edit-event-modal')">Cancel</div>
                                            <div class="ui button" ng-click="event.updateEventModal('edit-event-modal');event.closeModal('edit-event-modal
                                            ')">Submit</div>


                                        </div>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div ng-click="event.setDeleteEventId(x.event_id)">
                                    <div class="ui animated button" id="delete" ng-click="event.openModal('delete-modal')">
                                        <div class="visible content"><i class="trash icon"> </i></div>
                                        <div class="hidden content"> Delete </div>
                                    </div>
                                </div>
                                <div class="ui basic modal" id="delete-modal">
                                    <div class="ui icon header">
                                        <i class="trash icon"></i> DELETE
                                    </div>
                                    <div class="actions">
                                        <div class="ui red basic cancel inverted button" ng-click="event.closeModal('delete-modal')">
                                            <i class="remove icon"></i> No
                                        </div>
                                        <div class="ui green ok inverted button" ng-click="event.deleteEventModal('delete-modal')">
                                            <i class="checkmark icon"></i> Yes
                                        </div>
                                    </div>
                                </div>
                            </td>

                        </tr>

                    </tbody>
                    <tfoot class="full-width">
                        <tr>
                            <th colspan="100%">
                                <div class="ui right floated small primary labeled icon button" ng-click="event.openModal('add-modal')">
                                    <i class="add to calendar icon"></i> Add Event
                                </div>
                            </th>
                        </tr>

                    </tfoot>
                </table>

            </div>
        </div>
    </div>
</div>
</div>
