<link rel="stylesheet" href="css/admin.css"></link>
<link rel="stylesheet" type="text/css" href="css/admin_homepage.css"> </link>
<script type='text/javascript' src='js/admin.js'></script>

<div class="ui container" id="main-wrapper" >
<div class="ui card" id="main_card">
<div class="content"> 
            <div class="ui row">
            <div class="ui horizontal center aligned segments" id="segment">
                <a class="ui segment" href="/#!/admin/all-users"> Users </a>
                <a class="ui segment" href="/#!/admin/all-events"> Events </a>
                <a class="ui segment" href="/#!/admin/all-games"> Games </a>
                <a class="ui segment" href="/#!/admin/all-sports"> Sports </a>
                <a class="ui segment" href="/#!/admin/all-sponsors"> Sponsors </a>
            </div>
            </div>
<br>
<div class="ui row" ng-controller = "eventController as event">
    <table class="ui center aligned table" ng-init = "event.viewAllEvent()">
        <thead>
            <tr>
                <th>Event ID</th>
                <th>Event Name</th>
                <th>Allowed Registration (Yes or No)</th>
                <th>Date Start </th>
                <th>Date End</th>
                <th>Duration</th>
                <th colspan="4"> Commands </th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat = "x in event.allEvents">
                <td> {{x.event_id}}</td>
                <td> {{x.event_name}}</td>
                <td> {{x.allow_reg == '1' ? 'Yes' : 'No'}}</td>
                <td> {{x.date_start}}</td>
                <td>{{x.date_end}}</td>
                <td>{{x.duration}} days</td>
                <td>
                    <div class="ui animated button" id="edit">
                        <div class="visible content"><i class="edit icon"> </i></div>
                        <div class="hidden content"> Edit </div>
                    </div>
                    <div class="ui modal" id="edit-modal">
                            <div class="header"> UPDATE EVENT</div>
                                <div class="content">
                                    <div class="ui form">
                                        <div class="field">
                                            <label>Sponsor Name</label>
                                            <input type="text">
                                        </div>
                                       <div class="fields">
                                            <div class="field">
                                                <label>Start Date</label>
                                                <div class="ui calendar" id="start-date-pick">
                                                    <div class="ui input left icon">
                                                        <i class="calendar icon"></i>
                                                        <input type="text" placeholder="Date" name="start_date" ng-model = "event.dateStart = x.date_start">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="field">
                                                <label>End Date</label>
                                                <div class="ui calendar" id="end-date-pick">
                                                    <div class="ui input left icon">
                                                        <i class="calendar icon"></i>
                                                        <input type="text" placeholder="Date" name="end_date" ng-model = "event.dateEnd = x.date_end">
                                                    </div>
                                                </div>
                                            </div>
                                    </div>
                                <div class="fields">
                                    <div class="field">
                                    <label>Open for registration?</label>
                                    <form>
                                        <input type="radio" name="register" ng-model = "event.allowReg" value="1" checked> Yes<br>
                                        <input type="radio" name="register" ng-model = "event.allowReg" value="0"> No<br>
                                  </form>
                    </div>
                </div>
                                    <br>
                                    <div class="ui button" id="cancel">Cancel</div>
                                    <div class="ui button">Submit</div>
                            </div>
                    </div>
                </td>
                <td>
                    <div class="ui animated button" id="delete">
                        <div class="visible content"><i class="trash icon"> </i></div>
                        <div class="hidden content"> Delete </div>
                    </div>
                    <div class="ui basic modal" id="delete-modal">
                            <div class="ui icon header">
                                <i class="trash icon"></i>
                                DELETE
                            </div>
                              <div class="actions">
                                <div class="ui red basic cancel inverted button">
                                  <i class="remove icon"></i>
                                  No
                                </div>
                                <div class="ui green ok inverted button">
                                  <i class="checkmark icon"></i>
                                  Yes
                                </div>
                              </div>
                    </div>
                </td>

            </tr>

        </tbody>
        <tfoot class="full-width">
            <tr>
                <th colspan="100%">
                    <div class="ui right floated small primary labeled icon button">
                        <i class="add to calendar icon"></i> Add Event
                    </div>
                </th>
            </tr>

        </tfoot>
    </table>

</div>
</div>
</div>
</div>