<link rel="stylesheet" href="css/admin.css"></link>

<div class="ui container" id="main-wrapper" >
<div class="ui header">
    Events</div>
<div class="ui row">
    <table class="ui center aligned table">
        <thead>
            <tr>
                <th>Event ID</th>
                <th>Event Name</th>
                <th>Allowed Registration (Yes or No)</th>
                <th>Date Start </th>
                <th>Date End</th>
                <th>Duration</th>
                <th colspan="4"> Commands </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td> 1</td>
                <td> Palicsihan</td>
                <td> Yes</td>
                <td> 03-12-2017</td>
                <td>05-12-2017</td>
                <td>10 hours</td>
                <td>
                    <div class="ui animated button">
                        <div class="visible content">Edit</div>
                        <div class="hidden content"> <i class="edit icon"> </i> </div>
                    </div>
                </td>
                <td>
                    <div class="ui animated button">
                        <div class="visible content">Delete</div>
                        <div class="hidden content"> <i class="trash icon"> </i> </div>
                    </div>
                </td>

            </tr>

        </tbody>
        <tfoot class="full-width">
            <tr>
                <th colspan="100%">
                    <div class="ui right floated small primary labeled icon button">
                        <i class="add to calendar icon"></i> Add Event
                    </div>
                </th>
            </tr>

        </tfoot>
    </table>

</div>
</div>