<link rel="stylesheet" type="text/css" href="css/admin_homepage.css"> </link>

<div class="ui container" id="main-wrapper">
    <div class="ui card" id="main_card"> 
            <div class="content">
            <div class="ui row">
            <div class="ui horizontal center aligned segments" id="segment">
                <a class="ui segment" href="/#!/admin/all-users"> Users </a>
                <a class="ui segment" href="/#!/admin/all-events"> Events </a>
                <a class="ui segment" href="/#!/admin/all-games"> Games </a>
                <a class="ui segment" href="/#!/admin/all-sports"> Sports </a>
                <a class="ui segment" href="/#!/admin/all-sponsors"> Sponsors </a>
            </div>
            </div>
            <div class="ui row">
            <div class="ui card" id="card">
            <div class=" center aligned content">
            <h3 class="ui header"> Elektra </h3>
            <i class="massive user icon"></i>
            </div>
            <div class="center aligned extra">
                <button class ="ui button" id="accept">ACCEPT</button>
                <button class ="ui button" id="decline">DECLINE</button>
            </div>
            </div>
            </div>

        </div>
        </div>

</div>