<link rel="stylesheet" type="text/css" href="css/admin_homepage.css"> </link>

<div class="ui container" id="main-wrapper" ng-controller="adminController as home">
    <div class="ui card" id="main_card"> 
            <div class="content">
            <div class="ui row">
                <div class="ui horizontal center aligned segments" id="segment">
                    <a class="ui segment" href="/#!/admin/users"> Users </a>
                    <a class="ui segment" href="/#!/admin/events"> Events </a>
                    <a class="ui segment" href="/#!/admin/games"> Games </a>
                    <a class="ui segment" href="/#!/admin/sports"> Sports </a>
                    <a class="ui segment" href="/#!/admin/sponsors"> Sponsors </a>
                </div>
            </div>

             <div>
              <div>USER APPROVAL</div>
              <div class="ui three column grid" >
             <div class="column" ng-repeat="x in home.allUsers | filter: {user_type: 'pending'}">
            <div class="ui card" id="card">
                <div class=" center aligned content">
                <h3 class="ui header" ng-controller = "otherUsersController as others"> 
                            <a ng-click = "others.clicked(x.user_id)"> {{x.username}}</a></h3>
                <i class="massive user icon"></i>
                </div>
                <div class="center aligned extra">
                    <button class ="ui button" id="accept" ng-click="home.approveUser(x.user_id)">ACCEPT</button>
                    <button class ="ui button" id="decline" ng-click="home.deleteUser(x.user_id)">DECLINE</button>
                </div>
            </div>
            </div>
            </div>
            </div>
            <div>
            <div>TEAM APPROVAL</div>
             <div class="ui three column grid" >
             <div class="column" ng-repeat="x in home.allTeams | filter: {status: 'pending'}">
            <div class="ui card" id="card">
                <div class=" center aligned content">
                <h3 class="ui header">{{x.team_name}}</h3>
                 <div class="sub-header">Event: {{ x.event_name }}</div>
                     <i class="massive users icon"></i>
                </div>
                <div class="center aligned extra">
                    <button class ="ui button" id="accept" ng-click="home.approveTeam(x.team_id,x.event_id)">ACCEPT</button>
                    <button class ="ui button" id="decline" ng-click="home.disapproveTeam(x.team_id,x.event_id)">DECLINE</button>
                </div>
            </div>
            </div>
            </div>
            </div>

        </div>
        </div>

</div>