<script type='text/javascript' src='js/user-profile.js'></script>


<div class="ui containter" ng-controller = "profileController as profile">

    <div class="ui grid">
        <div class="five wide column">
            <div class="ui center aligned segment">
                <img class="ui centered small circular image" src="images/id.jpg">
                <h2 class ="ui centered header" id="header-section">
                    {{profile.user.firstname}}
                    <div class="sub header" id="header-section">
                    {{profile.user.location}}
                    </div>
                </h2>
                <button class="ui labeled icon button" id="updateButton" ng-click="profile.openModal('update-modal')">
                    <i class="edit icon"></i> 
                    Update
                </button>
                <div class="ui modal" id="update">
                    <form class="ui form">
                        <h2 class="ui dividing header">UPDATE PROFILE</h2>
                        <div class="fields">
                            <div class="field">
                                <label>First Name</label>
                                <input type="text" id="firstname">
                            </div>
                            <div class="field">
                                <label>Last Name</label>
                                <input type="text" id="lastname">
                            </div>
                        </div>
                        <div class="fields">
                            <div class="field">
                                <label>College</label>
                                <input type="text" id="college">
                            </div>
                            <div class="field">
                                <label>Contact No.</label>
                                <input type="number" id="contactno">
                            </div>
                            <div class="field">
                                <label>E-mail</label>
                                <input type="text" id="email">
                            </div>
                        </div>
                        <div class="fiels">
                            <div class="field">
                                <label>Weight</label>
                                <input type="text" id="weight">
                            </div>
                            <div class="field">
                                <label>Height</label>
                                <input type="text" id="height">
                            </div>
                        </div>

                            <button class="ui button">Submit</button>
                    </form>
                </div>

                <!--ABOUT-->
                <table class="ui very basic collapsing celled table">
                <tbody>
                    <tr>
                        <td class="two wide column">College</td>
                        <td> {{profile.user.college}} </td>
                    </tr>
                    <tr>
                        <td>Contact No.</td>
                        <td>{{profile.user.contactno}}</td>
                    </tr>
                    <tr>
                        <td>E-mail</td>
                        <td>{{profile.user.email}}</td>
                    </tr>
                    <tr>
                        <td>Weight</td>
                        <td>{{profile.user.weight}}</td>
                    </tr>
                    <tr>
                        <td>Height</td>
                        <td>{{profile.user.height}}</td>
                    </tr>
                </tbody>
                </table>
            </div>
        </div>
        
        <div class="eleven wide column">
            <div class="ui segment" ng-controller= "profileController as profile">
                <h3 class="ui right floated header" id="header-section">
                    Interests
                    <i class="hand rock icon"></i>
                </h3>
                <div class="ui clearing divider"></div>
                <div class="ui very relaxed list" >
                    <div class="item" ng-repeat = "interest in profile.userInterests">
                        <div class="content">
                            <a class="header">{{interest.interests}} <button class="ui button" ng-click="profile.deleteInterest(interest.interests)">DELETE</button></a>

                        </div>
                    </div> 
                    <center>
                        <button class="ui button" ng-click="profile.openModal('interest-modal')">UPDATE</button>
                        
                    </center>
            </div>

        </div>
            <div class="ui segment">
                <h3 class="user-profile right floated header" id="header-section">
                    <i class="certificate icon"></i>
                    EVENTS
                </h3>
                <div class="ui clearing divider"></div>
                <!--LIST OF EVENTS-->
                <div class="ui four cards">
                    <div class="card" ng-repeat="event in profile.userEvents">
                        <div class="content" >
                            <div class="header">{{event.event_name}}</div>
                            <div class="description">{{event.Date}}</div>

                        </div>
                    </div>
                    
                </div>
                <br>
                <button class="ui button" id="create">CREATE</button>
                <!--MODAL OF CREATE EVENT-->
                <div id ="event-modal" class="ui modal">
                    <form class="ui form">
                        <h2 class="ui dividing header">CREATE EVENT</h2>
                        <div class="field">
                            <label>Event Name</label>
                            <input type="text" name="event-name">
                        </div>
                        <div class="fields">
                            <div class="field">
                                <label>Start Date</label>
                                <input name="date-start" type="date" required>
                            </div>
                            <div class="field">
                                <label>End Date</label>
                                <input name="date-start" type="date" required>
                            </div>
                            <button class="ui button">Submit</button>
                        </div>
                    </form>
                </div>
            </div>

            <!--SPONSORED EVENTS-->
            <div class="ui segment">
                <h3 class="ui right floated header" id="header-section">
                    SPONSORED EVENTS
                    <i class="hand rock icon"></i>
                </h3>
                <div class="ui clearing divider"></div>
                <!--LIST OF EVENTS-->
                <div class="ui middle aligned divided list">
                    <div class="item" ng-repeat = "sponsored in profile.sponsoredEvents">
                        <div class="right floated content">
                            <div class="ui button">DELETE</div>
                        </div>
                        <div class="content">
                            <a class="header">{{sponsored.event_name}}</a>
                            <div class="description">Last {{sponsored.date_start}}.</div>
                        </div>
                    </div> 
            </div>

        </div>
    </div>
</div>

<div class="ui modal" id="update-modal">
    <div class="header">Update Profile</div>
        <div class="content">
            <form ng-controller="profileController as update">
                <div class="ui form">
                    <div class="fields">
                        <div class="field">
                            <label>Username</label>
                            <input type="text" placeholder="{{update.user.username}}" ng-model="username">
                        </div>
                        <div class="field">
                            <label>Password</label>
                            <input type="password" ng-model="password">
                        </div>
                        <div class="field">
                            <label>Location</label>
                            <input type="text" placeholder="Country/City" ng-model="location">
                        </div>
                        <div class="field">
                            <label>College</label>
                            <input type="text" placeholder="{{update.user.college}}" ng-model="college">
                        </div>
                        <div class="field">
                            <label>Age</label>
                            <input type="text" placeholder="{{update.user.age}}" ng-model="age">
                        </div>
                        <div class="field">
                            <label>Height</label>
                            <input type="text" placeholder="{{update.user.height}}" ng-model="height">
                        </div>
                        <div class="field">
                            <label>Weight</label>
                            <input type="text" placeholder="{{update.user.weight}}" ng-model="weight">
                        </div>
                    </div>
                    <div class="equal width fields">
                        <div class="field">
                            <label>First name</label>
                            <input type="text" placeholder="{{update.user.firstname}}" ng-model="firstname">
                        </div>
                        <div class="field">
                            <label>Last name</label>
                            <input type="text" placeholder="{{update.user.lastname}}" ng-model="lastname">
                        </div>  
                    </div>
                    <div class="ui equal width form">
                        <div class="fields">
                            <div class="field">
                                <label>E-mail</label>
                                <input type="email" placeholder="{{update.user.email}}" ng-model="email">
                            </div>
                            <div class="field">
                                <label>Contact Number</label>
                                <input type="text" placeholder="{{update.user.contactno}}" ng-model="contactno">
                            </div>
                        </div>
                    </div>
                    <div class="field">
                        <label>Gender</label>
                        <select class="ui selection dropdown" ng-model="gender">
                                <option value="M">Male</option>
                                <option value="F">Female</option>
                        </select> 
                    </div>
                </div> 
            <div class="ui actions">
                <div class="ui close button" ng-click="update.closeModal('update-modal')">Cancel</div>
                <div class="ui button" type="submit" ng-click="update.updateUser(update.user,username,password,location,college,age,height,weight,firstname,lastname,email,contactno,gender)">Update</div>
            </div>
        </form>
    </div>
</div>


<div class="ui modal" id="interest-modal">
    <div class="header">Sport Intersets</div>
        <div class="content">
            <form ng-controller="profileController as update">
                <div class="ui form">
                    <div class="fields">
                        <div class="field">
                            <label>Add Sport</label>
                            <input type="text" ng-model="update.interests">
                        </div>
                    </div>
                </div> 
            <div class="ui actions">
                <div class="ui close button" ng-click="update.closeModal('interest-modal')">Cancel</div>
                <div class="ui button" type="submit" ng-click ="update.updateInterest()" >Update</div>
            </div>
        </form>
    </div>
</div>