<script type='text/javascript' src='js/user-profile.js'></script>
<link rel='stylesheet' href='css/user-profile.css' />

<link rel='stylesheet' href='semantic-ui-calendar/dist/calendar.css' />
<script src="semantic-ui-calendar/dist/calendar.js"></script>

<div id="main-wrapper" ng-controller="profileController as user">
    <div class="ui grid container">
        <div class="five wide column">
            <div class="ui center aligned segment">

                <!--User image-->
                <img class="ui centered" src="{{user.user.profilepic}}" id="profile-image">
                <h2 class="ui centered header" id="header-section">
                    {{user.user.firstname + " " + user.user.lastname}}
                    ({{user.user.username}})
                    <div class="sub header" id="header-section">
                        {{user.user.location}}
                    </div>
                    <a ng-click="user.openModal('update-modal')">
                        <i class="edit icon"></i>
                    </a>
                </h2>

                <div>
                    <label for="file" ng-show="!user.files[0]" class="ui icon button">
                        <i class="file icon"></i>
                        Change Picture
                    </label>
                    <label for="file" ng-show="user.files[0]" ng-click="user.updateProfilePic()" class="ui icon green button">
                        <i class="file icon"></i>
                        Save Picture
                    </label>
                    <input type="file" id="file" file-input="user.files" style="display:none">

                </div>


                <!-- update profile -->
                <div class="ui modal" id="update-modal">
                    <div class="header">Update Profile</div>
                    <div class="content">
                        <form ng-controller="profileController as update">
                            <div class="ui form">

                                <div class="equal width fields">
                                    <div class="field">
                                        <label>Username</label>
                                        <input type="text" placeholder="{{update.user.username}}" ng-model="username">
                                    </div>
                                    <div class="field">
                                        <label>Password</label>
                                        <input type="password" ng-model="password">
                                    </div>
                                </div>

                                <div class="equal width fields">
                                    <div class="field">
                                        <label>First name</label>
                                        <input type="text" placeholder="{{update.user.firstname}}" ng-model="firstname">
                                    </div>
                                    <div class="field">
                                        <label>Last name</label>
                                        <input type="text" placeholder="{{update.user.lastname}}" ng-model="lastname">
                                    </div>
                                </div>

                                <div class="equal width fields">
                                    <div class="field">
                                        <label>Location</label>
                                        <input type="text" placeholder="{{update.user.location}}" ng-model="location">
                                    </div>
                                    <div class="field">
                                        <label>College</label>
                                        <input type="text" placeholder="{{update.user.college}}" ng-model="college">
                                    </div>
                                    <div class="field">
                                        <label>E-mail</label>
                                        <input type="email" placeholder="{{update.user.email}}" ng-model="email">
                                    </div>
                                    <div class="field">
                                        <label>Contact Number</label>
                                            <input type="text" placeholder="{{update.user.contactno}}" ng-model="contactno">
                                    </div>
                                </div>

                                <div class="equal width fields">
                                    <div class="field">
                                        <label>Age</label>
                                        <input type="text" placeholder="{{update.user.age}}" ng-model="age">
                                    </div>
                                    <div class="field">
                                        <label>Height</label>
                                        <input type="text" placeholder="{{update.user.height}}" ng-model="height">
                                    </div>
                                    <div class="field">
                                        <label>Weight</label>
                                        <input type="text" placeholder="{{update.user.weight}}" ng-model="weight">
                                    </div>
                                    <div class="field">
                                        <label>Gender</label>
                                        <select class="ui selection dropdown" ng-model="gender">
                                            <option value="M">Male</option>
                                            <option value="F">Female</option>
                                        </select>
                                    </div>
                                </div>
                            </div>

                            </br>
                            <div class="ui actions align right">
                                <button class="ui primary button" type="submit" ng-click="update.updateUser(update.user,username,password,location,college,age,height,weight,firstname,lastname,email,contactno,gender)">
                                    Update
                                </button>
                                <button class="ui button event" id="cancel-update" ng-click="update.closeModal('update-modal')">
                                    Cancel
                                </button>
                            </div>
                        </form>
                    </div>
                </div>

                <!--end of modal for updating user profile -->
                <!--User Profile-->
                <table class="ui very basic collapsing celled table">
                    <tbody>
                        <tr>
                            <td class="five wide column">College</td>
                            <td> {{user.user.college}} </td>
                        </tr>
                        <tr>
                            <td>Contact No.</td>
                            <td>{{user.user.contactno}}</td>
                        </tr>
                        <tr>
                            <td>E-mail</td>
                            <td>{{user.user.email}}</td>
                        </tr>
                        <tr>
                            <td>Age</td>
                            <td>{{user.user.age}}</td>
                        </tr>
                        <tr>
                            <td>Gender</td>
                            <td>{{user.user.gender}}</td>
                        </tr>
                        <tr>
                            <td>Weight</td>
                            <td>{{user.user.weight}}</td>
                        </tr>
                        <tr>
                            <td>Height</td>
                            <td>{{user.user.height}}</td>
                        </tr>

                    </tbody>
                </table>
                <!--End of User Profile-->
            </div>
        </div>
        <div class="eleven wide column">
            <div class="ui grid">
                <!--User Interests-->
                <div class="eight wide column">
                    <div class="ui segment" id="user-interest">
                        <h3 class="ui right floated header">
                        <img src="images/interest.png" class="ui mini rounded image">
                        INTERESTS
                    </h3>
                        <div class="ui clearing divider"></div>

                        <form ng-controller="profileController as update">
                            <select class="ui search dropdown" ng-model="update.interests" style="width: 85%">
                            <option value="Badminton">Badminton</option>
                            <option value="Baseball">Baseball</option>
                            <option value="Basketball">Basketball</option>
                            <option value="Chess">Chess</option>
                            <option value="Lawn Tennis">Lawn Tennis</option>
                            <option value="Swimming">Swimming</option>
                            <option value="Table Tennis">Table Tennis</option>
                            <option value="Volleyball">Volleyball</option>
                        </select>
                            <button class="ui icon button" type="submit" id="add-interest" ng-click="update.updateInterest()">
                            <i class="plus icon"></i>
                        </button>
                        </form>
                        <div class="ui clearing divider"></div>

                        <div class="ui list">
                            <div class="item" ng-repeat="interest in user.userInterests">
                                <div class="content">
                                    <a class="header">{{interest.interests}}
                                    <button class="ui right floated mini button" id="delete-interest" ng-click="user.deleteInterest(interest.interests)">
                                        DELETE
                                    </button>
                                </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!--List of Teams-->
                <div class="eight wide column">
                    <div class="ui center aligned segment" id="list-of-teams">
                        <h3 class="ui right floated header">
                        <img src="/images/team.jpg" class="ui mini rounded image">
                        TEAMS
                    </h3>
                        <div class="ui clearing divider"></div>
                        <div  class="ui four column grid">
                            <div class="ui tiny images" ng-repeat="team in user.userTeams">
                            
                            <a class="ui image" href="" ng-click="user.viewTeam(team.team_id,team.event_id)">
                                <img src="/images/icon_team.svg"> {{team.team_name}}
                            </a>
                            </div>
                        </div>
                    </div>
                </div>
                <!--End of List of Teams-->
            </div>

            <div class="ui segment">
                <!--Events-->
                <h3 class="ui right floated header">
                EVENTS
            </h3>
                <button class="ui button" id="create" ng-click="user.openModal('event-modal')">
                Create
            </button>
                <div class="ui clearing divider"></div>
                <!--End of Events-->

                <!--LIST OF EVENTS-->
                <div class="ui two cards" ng-controller="eventController as eventA">
                    <div class="card" ng-repeat="event in user.userEvents">
                        <div class="content">
                            <div class="header"><a ng-click="eventA.viewEvent(event.event_id)">{{event.event_name}}</a></div>
                            <div class="description">{{event.Date}}</div>
                            <div class="description">Status: {{event.status}}</div>
                        </div>
                    </div>
                </div>
                <!--END OF LIST OF EVENTS-->
            </div>


            <div class="ui segment">
                <h3 class="ui right floated header">
                GAMES
            </h3>
                <div class="ui clearing divider"></div>

                <!--LIST OF EVENTS-->
                <div class="ui four cards" ng-init="user.getUserId();user.viewPastGamesUser()">
                    <div id="panel" ng-controller="gameController as game" ng-init="game.viewThreeScoreboard()">
                        <div class="ui cards">
                            <div class="card card-content2" ng-repeat="x in user.pastGamesUser" ng-show="game.gameThreeScoreboard!=null">
                                <div class="content" ng-click="game.viewGameFromScoreboard(x.game_id)">
                                    <div class="header">
                                        <h2>{{x.sport_name}}</h2></div>
                                    <div class="content">{{x.date_start}}</div>
                                    <div class="content">{{x.venue_name}}</div>
                                    <table class="ui celled padded table">
                                        <tbody>
                                            <tr>
                                                <td><img class="ui mini circular image" src="/images/tnt.jpg">{{x.team}} - {{x.score}}</td>
                                            </tr>
                                            <tr>
                                                <td><img class="ui mini circular image" src="/images/tnt.jpg">{{x.team2}} - {{x.score2}}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </div>
        <!--MODAL OF CREATE EVENT-->
        <div id="event-modal" class="ui modal">
            <h1 class="ui header">CREATE EVENT</h1>

            <div class="ui content">
                <form class="ui form" ng-controller="eventController as event">
                    <div class="field">
                        <label>Event Name</label>
                        <input type="text" ng-model="event.eventName" name="event_name">
                    </div>
                    <div class="equal width fields">
                        <div class="field">
                            <label>Start Date</label>
                            <div class="ui calendar" id="start-date-pick">
                                <div class="ui input left icon">
                                    <i class="calendar icon"></i>
                                    <input type="text" placeholder="Date" name="start_date" ng-model="event.dateStart">
                                </div>
                            </div>
                        </div>
                        <div class="field">
                            <label>End Date</label>
                            <div class="ui calendar" id="end-date-pick">
                                <div class="ui input left icon">
                                    <i class="calendar icon"></i>
                                    <input type="text" placeholder="Date" name="end_date" ng-model="event.dateEnd">
                                </div>
                            </div>
                        </div>
                    </div>
                    </br>
                <div class="actions">
                        <button class="ui primary button" id="submit-create" ng-click="event.addEvent(user.user.user_id);event.closeModal('event-modal')">
                            <i class="checkmark icon"></i> Create
                        </button>
                        <button class="ui cancel button" id="cancel-create" ng-click="user.closeModal('event-modal')">
                            <i class="remove icon"></i> Cancel
                        </button>
                    </div>
                </form>
            </div>
        </div>

    </div>
</div>
