<link rel='stylesheet' href='css/user-view-event.css' />

<div id="main-wrapper" ng-controller="eventController as event">

    <div class="ui grid container">
        <div class="four wide column" ng-init="event.viewClickedEvent()">
            <div class="ui card" ng-repeat="x in event.allEvents">
                <h2>{{x.event_name}}</h2> Start Date:{{x.date_start}}
                <br> End Date:{{x.date_end}}
                <br> Open for registration? : {{x.allow_reg == '1' ? 'Yes' : 'No'}}
                <br>
                <div id="command-panel" ng-show="logged.userId == event.currentUserId">
                    <button class="command-btn" ng-click="event.updateEvent()"><i class="write icon"></i>
                    </button>
                    <button class="command-btn" ng-click="event.deleteEvent(x.event_id)"><i class="delete icon"></i>
                    </button>
                </div>
            </div>
            <div ng-controller="guestController as logged">
            <div ng-show="logged.hasUser" class="ui card">
                <button class="ui button" id="join-button">Join</button>
            </div>
            </div>
            <div class="ui form" ng-repeat="x in event.allEvents">
                <div ng-show="logged.userId == event.currentUserId">
                    <div class="fields">
                        <div class="field">
                            <label>Event name</label>
                            <input type="text" ng-model="event.eventName" ng-init="event.eventName = x.event_name" name="event_name">
                        </div>
                    </div>
                    <div class="fields">
                        <div class="field">
                            <label>Date Start</label>
                            <input type="text" ng-model="event.dateStart" ng-init="event.dateStart = x.date_start" name="event_name">
                        </div>
                    </div>
                    <div class="fields">
                        <div class="field">
                            <label>Date End</label>
                            <input type="text" ng-model="event.dateEnd" ng-init="event.dateEnd = x.date_end" name="event_name">
                        </div>
                    </div>
                    <div class="fields">
                        <div class="field">
                            <label>Open for registration?</label>
                            <form>
                                <input type="radio" name="register" ng-model="event.allowReg" value="1" checked> Yes
                                <br>
                                <input type="radio" name="register" ng-model="event.allowReg" value="0"> No
                                <br>
                            </form>
                        </div>
                    </div>
                </div>
            </div>




        </div>

        <div class="twelve wide column" ng-controller="userEventController as UEC">

            <div class="ui column grid score-section" ng-controller="gameController as game" ng-init="game.viewThreeScoreboard()">
            <br>
                <div class="ui card score-card" ng-repeat="x in game.gameThreeScoreboard" ng-show="game.gameThreeScoreboard!=null">
                    <!-- <img src='images/1.jpg' class="event-icon" /> -->

                    <div class="card-content" ng-click="game.viewGameFromScoreboard(x.game_id)">
                        <h3>{{x.sport_name}}</h3><br>

                        <div class="ui grid align-center">
                            <div class="team1-section">
                                <h5>{{x.team}}</h5>
                                <h3>{{x.score}}</h3>
                            </div>
                            <div class="versus">
                                <h3>VS</h3>
                            </div>
                            <div class="team2-section">
                                <h5>{{x.team2}}</h5>
                                <h3>{{x.score2}}</h3>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="ui view-all">
                    <button style="float:right" class="ui button" ng-click="UEC.scoreboard()" ng-show="logged.userId == event.currentUserId">VIEW SCOREBOARD</button>
                </div>
            </div>


            <div>
                <div class="event-section">
                    <h1>Sports</h1>
                    <div class="ui divider"></div>

                    <div>
                        <table id="sports" class="ui celled table">
                            <tbody>
                                <tr ng-repeat="x in UEC.allSports" ng-init="a=x.sport_id">
                                    <td ng-click="showGame[$index]=!showGame[$index]">
                                        {{x.sport_name}}

                                        <button style="float:right" class="ui red button" ng-click="UEC.setCurrentId(x.sport_id,'delete-modal')" ng-show="logged.userId == event.currentUserId">X</button>

                                        <div class="ui basic modal" id="delete-modal">
                                            <div class="ui icon header">
                                                <i class="trash icon"></i> DELETE
                                            </div>
                                            <div class="actions">
                                                <div class="ui red basic cancel inverted button" ng-click="UEC.closeModal('delete-modal')">
                                                    <i class="remove icon"></i> No
                                                </div>
                                                <div class="ui green ok inverted button" ng-click="UEC.deleteSportFromEvent();UEC.closeModal('delete-modal')">
                                                    <i class="checkmark icon"></i> Yes
                                                </div>
                                            </div>
                                        </div>
                                    </td>

                                </tr>
                            </tbody>
                        </table>
                        <form class="ui" ng-show="logged.userId == event.currentUserId">
                            <select ng-init="UEC.viewAvailableSports()" ng-model="UEC.sportId" ng-options="x.sport_name for x in UEC.allAvailableSports">
                            </select>
                        </form>

                        <button ng-click="UEC.attachSportToEvent()" ng-show="logged.userId == event.currentUserId">ADD SPORT</button>


                        <br>
                    </div>
                </div>

                <div class="event-section" ng-controller="teamController as team">
                    <h1>Team</h1>

                    <div class="ui form" ng-show="logged.userId == event.currentUserId">
                        <div class="field">
                            <label>Team name</label>
                            <input type="text" ng-model="team.teamName" name="team_name">
                        </div>
                        <div ng-click="team.addTeam(event.eventId)">
                            <button class="ui button team" ng-click="event.viewTeamPerEvent()">Submit</button>
                        </div>
                    </div>

                    <br>
                    <!-- <div class="ui divider"></div> -->

                    <div ng-init="team.viewTeamPerEvent()">
                        <div class="ui card" ng-repeat="x in team.allTeams">
                            {{x.team_name}}
                            <button class="ui teal button" ng-click="team.viewTeam(x.team_id)">{{x.team_name}}</button>
                            <button class="ui red button" ng-show="logged.userId == event.currentUserId" ng-click="team.deleteTeamFromEvent(x.team_id)">Remove</button>
                        </div>
                    </div>

                </div>

                <div class="event-section">
                    <h1>Sponsors</h1>
                    <div class="ui divider"></div>
                    <div class="ui container" ng-controller="sponsorController as sponsor">
                        <form class="ui" ng-show="logged.userId == event.currentUserId">
                            <select name="Sponsors" ng-init="sponsor.viewAllSponsor()">
                                <option ng-click="sponsor.setSponsorId(undefined)">Sponsors</option>
                                <option ng-repeat="x in sponsor.allSponsors" ng-click="sponsor.setSponsorId(x.sponsor_id)" value="x.sponsor_id" ng-model="sponsor.sponsorId" >{{x.sponsor_name}}</option>
                            </select>
                        </form>
                        <button ng-click="sponsor.sponsorEvent()" ng-show="logged.userId == event.currentUserId">ADD SPONSORSHIP</button>
                        <div ng-init="sponsor.getSponsorByEvent()">
                            <div class="ui card" ng-repeat="x in sponsor.allEventSponsors">
                                {{x.sponsor_name}}
                                <button class="ui red button" ng-click="sponsor.deleteSponsorFromEvent(x.sponsor_id)" ng-show="logged.userId == event.currentUserId">Remove Sponsorhip</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
