<link rel='stylesheet' href='css/team-page.css' />
<div class="ui grid" ng-controller="teamController as team" ng-init="team.viewClickedTeam()" id = "main-wrapper">
    <div class="row"  ng-repeat="x in team.allTeams">
        <div class="ui cards">
            <div class="ui card center aligned">

                <div class="center aligned image">
                    <img id="im" src="images/team_icon.png">
                </div>
                <div class="content">

                    <div class="center aligned header">
                        <div> {{x.team_name}}</div>
                        <div ng-hide="team.alreadyJoined">
                         <button class="negative ui animated button" ng-click="team.userJoinTeam(x.team_id)">
                                <div class="visible content" >Join </div>
                                <div class="hidden content">
                                    <i class="left sign in icon"> </i>
                                </div>
                            </button>
                            </div>
                        <div ng-show="team.alreadyJoined">
                         <button class = "ui button">
                               {{team.playerStatus}}
                            </button>
                            </div>
                    </div>
                     
                    <div class="ui centered large header"> Team Players</div>
                
                    <div class="ui ordered middle aligned selection list">
                  <div class="item"  ng-repeat="player in team.allPlayers | filter: {player_status: 'accepted'}">
                    <img class="ui avatar image" src="images/avatar.png">
                    <div class="content" ng-controller = "otherUsersController as others"> 
                            <a ng-click = "others.clicked(player.user_id)">
                      <div class="header">{{player.username}}</div></a>
                    </div>
                  </div>
            </div>
            

                </div>
            </div>

            <div class="ui card" id="card2">
                <div class="content">
                    <div class="massive header"> 
                    <div class="ui right floated buttons">
                    <div ng-controller = "teamController as team">
                        <button class="positive ui right floated button edit-trigger" ng-click = "team.openModal('update-modal');team.setTeamName(x.team_name)">
                          Edit
                        </button >
                        <div class="ui modal" id="update-modal">
                            <form class="ui form">
                            <h2 class="ui dividing header">UPDATE TEAM</h2>
                            <div class="fields">
                                <div class="field">
                                    <label>Team Name</label>
                                    <input type="text" ng-model = "team.teamName" ng-init = "x.team_name" id="firstname">
                                </div>
                            </div>
                                <button class="ui button" ng-click = "team.updateTeam(); team.closeModal('update-modal'); team.viewClickedTeam()">Submit</button>
                                <button class="ui button" ng-click = "team.closeModal('update-modal')">Cancel</button>
                            </form>
                    </div>

                    <button class="negative ui button" ng-click = "team.openModal('delete-modal')">
                        Delete
                    </button>


                           <div class="ui basic modal" id="delete-modal">
                                    <div class="ui icon header">
                                        <i class="trash icon"></i> DELETE
                                    </div>
                                    <div class="actions">
                                        <div class="ui red basic cancel inverted button" ng-click="team.closeModal('delete-modal')">
                                            <i class="remove icon"></i> No
                                        </div>
                                        <div class="ui green ok inverted button" ng-click="team.deleteTeam(x.team_id);team.closeModal('delete-modal')">
                                            <i class="checkmark icon"></i> Yes
                                        </div>
                                    </div>
                                </div>


            </div>


                    </div>
                   <p> Stats and Standings </p>
                    

                    </div>
                    
                    <div class="description">
                        <h2> 2W | 0L </h2>
                        <h2> Streak: Won 2</h2>
                    </div>

                    <hr>

                    <div class=" row">
                        <div class="column">
                            <h2> Schedule of Games </h2>
                        </div>
                        <br>
                    </div>
                    <div class="ui row">

                        <div id="forbut" class="ui row" ng-controller="gameController as game">
                            <button class="negative ui animated button" tabindex="0" ng-click="game.decrementInterval();game.getDate()">
                                <div class="visible content">Prev </div>
                                <div class="hidden content">
                                    <i class="left arrow icon"> </i>
                                </div>
                            </button>

                            <button class="negative ui button" ng-click="game.interval=0;game.viewCurrentGamesByTeam()">
                                Today's Date
                            </button>


                            <button class="negative ui animated button" tabindex="0" ng-click="game.incrementInterval();game.getDate()">
                                <div class="visible content" >Next </div>
                                <div class="hidden content">
                                    <i class="right arrow icon"> </i>
                                </div>
                            </button>

                           <h3>{{game.date}}</h3>


                            <div class="ui row" id="divtable1" style="border-color: #466675">
                                <meta name="viewport" content="width=device-width, initial-scale=1">
                                <table class="ui center aligned celled table">
                                    <thead>
                                        <tr>
                                            <th>VS</th>
                                            <th>Time</th>
                                            <th>Location</th>
                                        </tr>
                                    </thead>
                                    <tbody ng-init="game.viewCurrentGamesByTeam();game.getDate()">
                                        <tr ng-repeat="x in game.currentGamesTeam" ng-click="game.viewGamePage(x.game_id)">
                                            <td><b>{{x.team}}   -   {{x.team2}} </td>
                                            <td>{{x.time_start}}</td>
                                            <td>{{x.venue_name}}</td>

                                        </tr>
                                    </tbody>
                                </table>

                            </div>



                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>
</div>