<link rel='stylesheet' href='css/team-page.css'/>

<div id="main-wrapper">
    <div class="ui grid container">
        <div class="row">
            <div class="ui cards">
                <div class="ui card center aligned">
                    <div class="center aligned image">
                        <img id="im" src="images/team_icon.png">
                    </div>
                    <div class="content">
                        <div class="center aligned header">
                            Karasuno High School
                        </div>
                        <div class="description">
                            As a former powerhouse of Miyagi, Karasuno has represented the prefecture at Spring High nationals nine times.
                        </div>

                        <div class="ui card" id="padcard">
                            <div class="ui centered large header"> Team Players</div>
                            <div class="ui horizontal list">
                                <div class="item">
                                    <a class="ui tiny image" data-title="Hinata Sho">
                                        <img id="image1" src="images/avatar.png">
                                    </a>
                                </div>
                                <div class="item">
                                    <a class="ui tiny image">
                                        <img src="images/avatar1.png">
                                    </a>
                                </div>
                                <div class="item">
                                    <a class="ui tiny image">
                                        <img src="images/avatar.png">
                                    </a>
                                </div>
                                <div class="item">
                                    <a class="ui tiny image">
                                        <img src="images/avatar.png">
                                    </a>
                                </div>
                                <div class="item">
                                    <a class="ui tiny image">
                                        <img src="images/avatar1.png">
                                    </a>
                                </div>

                            </div>

                        </div>
                    </div>
                </div>



                <div class="ui card" id="card2">
                    <div class="content">
                        <div class="header"> Stats and Standing
                            <button class="ui right floated animated button" tabindex="0">
                                <div class="visible content">Join here </div>
                                <div class="hidden content"> Rquest to join </div>
                            </button>
                        </div>
                        <div class="description">
                            <h3> 2W | 0L </h3>
                            <h3> Streak: Won 2</h3>
                        </div>

                        <hr style="background-color: white;">

                        <div class=" row">
                            <div class="column">
                                <h2> Schedule of Games </h2>
                            </div>
                            <br>
                        </div>
                        <div class="ui row" >

                            <div id="forbut" class="ui row">
                                <button class="ui animated button" tabindex="0">
                                    <div class="visible content">Prev </div>
                                    <div class="hidden content">
                                        <i class="left arrow icon"> </i>
                                    </div>
                                </button>

                                <button class="ui button">
                                    Today's Date
                                </button>


                                <button class="ui animated button" tabindex="0">
                                    <div class="visible content">Next </div>
                                    <div class="hidden content">
                                        <i class="right arrow icon"> </i>
                                    </div>
                                </button>


                                <div class="ui row" id="divtable1">

                                    <table class="ui center aligned celled table">
                                        <thead>
                                            <tr>
                                                <th>VS</th>
                                                <th>Time</th>
                                                <th>Location</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>Show the matchup team here</td>
                                                <td>Show the time here</td>
                                                <td>Show the location here</td>

                                            </tr>
                                        </tbody>
                                    </table>
                                </div>



                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
