
<link rel='stylesheet' href='css/team-page.css'/>
<div class="ui grid">
    <div class="row">
        <div class="ui cards">
            <div class="ui card center aligned">
                <div class="center aligned image">
                    <img id="im" src="images/team_icon.png">
                </div>
                <div class="content">
                    <div class="center aligned header">
                        Karasuno High School
                    </div>
                    <div class="description">
                        As a former powerhouse of Miyagi, Karasuno has represented the prefecture at Spring High nationals nine times. One of those occasions was under the guidance of Coach Ukai and the "Small Giant", and was famous throughout Miyagi. However, after the initial success, Karasuno failed to pass its prefecture's preliminaries in future tournaments and therefore received the derogatory nicknames "The Fallen Champions" and "The Flightless Crows." It wasn't until five years later did the team finally return to nationals.
                    </div>

                </div>
            </div>

            <div class="ui card" id="padcard">
                <div class="ui centered large header"> Team Players</div>
                <div class="ui horizontal list">
                    <div class="item">
                        <a class="ui tiny image" data-title="Hinata Sho">
                            <img id="image1" src="images/avatar.png">
                        </a>
                    </div>
                    <div class="item">
                        <a class="ui tiny image">
                            <img src="images/avatar1.png">
                        </a>
                    </div>
                    <div class="item">
                        <a class="ui tiny image">
                            <img src="images/avatar.png">
                        </a>
                    </div>
                    <div class="item">
                        <a class="ui tiny image">
                            <img src="images/avatar.png">
                        </a>
                    </div>
                    <div class="item">
                        <a class="ui tiny image">
                            <img src="images/avatar1.png">
                        </a>
                    </div>

                </div>

            </div>


            <div class="ui card" id="card2">
                <div class="content">
                    <div class="header"> Stats and Standing</div>

                    <div class="description">
                        <h3> 2W | 0L </h3>
                        <h3> Streak: Won 2</h3>
                    </div>

                    <hr>

                    <div class=" row">
                        <div class="column">
                            <h2> Schedule of Games </h2>
                        </div>
                        <br>
                    </div>
                    <div class="ui row" >

                        <div id="forbut" class="ui row">
                            <button class="ui animated button" tabindex="0">
                                <div class="visible content">Prev </div>
                                <div class="hidden content">
                                    <i class="left arrow icon"> </i>
                                </div>
                            </button>

                            <button class="ui button">
                                Today's Date
                            </button>


                            <button class="ui animated button" tabindex="0">
                                <div class="visible content">Next </div>
                                <div class="hidden content">
                                    <i class="right arrow icon"> </i>
                                </div>
                            </button>


                            <div class="ui row" id="divtable1" style="border-color: #466675">
                                <meta name="viewport" content="width=device-width, initial-scale=1">
                                <table class="ui center aligned celled table">
                                    <thead>
                                        <tr>
                                            <th>VS</th>
                                            <th>Time</th>
                                            <th>Location</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>Show the matchup team here</td>
                                            <td>Show the time here</td>
                                            <td>Show the location here</td>

                                        </tr>
                                    </tbody>
                                </table>
                            </div>



                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
