<link rel='stylesheet' href='css/user-dashboard.css'/>
<script type='text/javascript' src='js/user-dashboard.js'></script>

<div id="main-wrapper">
    <div id="public-event" class="ui container">
        <h3>Leaderboard</h3>
        <canvas id="leadchart"></canvas>
        <br><br>
        <button id="feeds-trigger">Show Feeds</button>
    </div>

    <div id="feeds-panel">
        <div
        ng-controller="dashboardController as dashboard"
        class="ui two column grid container">
        <div class="five wide column">
            <!-- Event Details -->
            <div id="event-panel" class="ui card">
                <h1 id="event-name">{{dashboard.recentEvent.event_name}}</h1>
                <p id="event-details">
                    {{dashboard.recentEvent.date_start}}
                </p>
            </div>


            <div class="ui card">
                <div class="section-title" >
                    <h3>Upcoming Games</h3>
                    <br>
                    <div ng-repeat="up in dashboard.upcomingGames" class="ui card-panel">
                        <h5>{{up.Date}}</h5>
                        <p>{{up.sport_name + " Game " +up.game_id}}</p>
                        <p>{{up.venue_name}}</p>
                    </div>
                </div>
            </div>

            <div ng-hide="dashboard.newUser">
                <div class="ui card">
                    <div class="section-title">
                        <h3>Current Games</h3>
                        <br>
                        <table id="maintable" class="ui selectable celled table">
                            <thead>
                                <tr>
                                    <th> Team1 </th>
                                    <th> Team2 </th>
                                    <th> Score </th>
                                </tr>
                            </thead>

                            <tbody>
                                <a href ="">
                                    <tr ng-repeat = "y in dashboard.gamesFromEvent">
                                        <td id="teamname"> {{y.team_name}}</td>
                                        <td id="teamname"> {{y.team_name_2}} </td>
                                        <td id="score" ng-init="dashboard.getScores(y);dashboard.getScores2(y);b=y.game_id"> {{dashboard.allScores[b]}}-{{dashboard.allScores2[b]}} </td>
                                    </tr>
                                </a>
                            </tbody>
                        </table>
                        <div ng-repeat="game in dashboard.sportsFromEvent" class="ui card-panel">
                            <h5>{{game.sport_name + " Game " + game.game_id }}</h5>
                            <p>{{game.Date}}</p>
                            <p>{{game.venue_name}}</p>
                        </div>
                    </div>
                </div>
                <br>
            </div>
        </div>

        <div class="eleven wide column" id="right-panel">

            <!-- Membership Requests -->
            <div class="ui section" id="membership-request-panel"  ng-repeat="x in dashboard.playerReq | filter: {player_status: 'pending'}">
                <div class="ui card member-request">
                    <div class="request-text">
                        {{x.firstname}} {{x.lastname}} has requested to join team :  {{x.team_name}}
                        <div class="sub-header">Event: {{ x.event_name }}</div>
                    </div>
                    <div class="request-approve two wide column">
                        <button type="button" name="button" class="membership-command" ng-click="dashboard.disapproveTeamPlayer(x.team_id,x.user_id)">X</button>
                    </div>
                    <div class="request-decline two wide column">
                        <button type="button" name="button" class="membership-command" ng-click="dashboard.approveTeamPlayer(x.team_id,x.user_id,x.event_id)">/</button>
                    </div>
                </div>
            </div>
            <br><br><br>
            <div class="ui section">
                <div class="section-title">
                    <h3>Event Suggestions Based on Interest</h3>
                    <br>
                    <div class="ui seven column grid">
                        <div ng-repeat="ei in dashboard.eventsByInterest">
                        <div class="ui card"  ng-click="dashboard.viewEvent(ei.event_id)"> 
                            <h5>{{ei.event_name}}</h5>
                            <p>{{ei.date_start}}</p>
                        </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>


    </div>
</div>

</div>
