<link rel='stylesheet' href='css/event.css'/>

<div class="ui container">
	<div ng-controller="userGameSchedController as UGSC">
		<table id="sports" class="ui celled table">
			<tr> <th> <h1> List of Games </h1></th></tr>

			<tbody>
				<tr ng-repeat="x in sport.allSports"> 
					<td ng-click="">
					{{x.sport_name}}
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>

 <div class="ten wide column" ng-controller="userGameSchedController as UGSC">
            <div class="content"  ng-repeat="x in UGSC.allSports" ng-init="a=x.sport_id">
                <table class="ui celled padded table">
                    <br><h3 class="center aligned header" id="sportsname"> {{x.sport_name}} </h3>   
                    <tbody ng-init="UGSC.viewGames(x)">
                        <thead class="single line">
                            <tr>
                                <th> Date/Time </th>
                                <!-- <th> Time </th> -->
                                <th> Venue </th>
                                <th> Team1 </th>
                                <th> Team2 </th>
                                <th> Referee </th>
                            </tr>
                        </thead>
                        <tr ng-repeat="y in UGSC.allGames[a-1]">
                            <!-- <td id="game"> {{y.game_id}} </td> -->
                            <td id="date"> {{y.date_start|date : 'yyyy-mm-dd'}} </td>
                            <!-- <td id="time">  </td> -->
                            <td id="venue"> {{y.venue_name}} </td>
                            <td id="teamname"> {{y.team_name}} </td>
                            <td id="teamname"> {{y.team_name_2}} </td>
                            <td id="ref"> {{y.referee}} </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <br><br>
	