
<div class="ui container" id="main-wrapper" ng-controller="teamController as team">
    <div class="ui four cards" ng-init="team.viewTeamPerEvent()">
        <div class="card" ng-repeat="x in team.allTeams">
            <div class="center aligned content">
                <a class="header" ng-click = "team.viewTeam(x.team_id)">{{x.team_name}}</a>
                <i class="massive users icon"></i>
                <div ng-hide="team.alreadyJoined">
                    <button class="negative ui animated button" ng-click="team.userJoinTeam(x.team_id)">
                        <div class="visible content" >Join </div>
                        <div class="hidden content">
                            <i class="left sign in icon"> </i>
                        </div>
                    </button>
                </div>
                 <div ng-show="team.alreadyJoined">
                    <button class = "ui button">
                       {{team.playerStatus}}
                    </button>
                </div>
            </div>
            <div class="extra content">
            </div>
        </div>
    </div>
</div>