<script type='text/javascript' src='js/user-profile.js'></script>


<div class="ui containter" ng-controller = "otherUsersController as profile">

    <div class="ui grid">
        <div class="five wide column">
            <div class="ui center aligned segment">
                <img class="ui centered small circular image" src="images/id.jpg">
                <h2 class ="ui centered header" id="header-section">
                    {{profile.otherUsers.firstname}}
                    <div class="sub header" id="header-section">
                    {{profile.otherUsers.location}}
                    </div>
                </h2>
                <!--ABOUT-->
                <table class="ui very basic collapsing celled table">
                <tbody>
                    <tr>
                        <td class="two wide column">College</td>
                        <td> {{profile.otherUsers.college}} </td>
                    </tr>
                    <tr>
                        <td>Contact No.</td>
                        <td>{{profile.otherUsers.contactno}}</td>
                    </tr>
                    <tr>
                        <td>E-mail</td>
                        <td>{{profile.otherUsers.email}}</td>
                    </tr>
                    <tr>
                        <td>Weight</td>
                        <td>{{profile.otherUsers.weight}}</td>
                    </tr>
                    <tr>
                        <td>Height</td>
                        <td>{{profile.otherUsers.height}}</td>
                    </tr>
                </tbody>
                </table>
            </div>
        </div>
        
        <div class="eleven wide column">
            <div class="ui segment">
                <h3 class="ui right floated header" id="header-section">
                    Interests
                    <i class="hand rock icon"></i>
                </h3>
                <div class="ui clearing divider"></div>
                <div class="ui very relaxed list" >
                    <div class="item" ng-repeat = "interest in profile.otherUserInterests">
                        <div class="content">
                            <a class="header">{{interest.interests}}
                        </div>
                    </div> 
            </div>

        </div>
            <div class="ui segment">
                <h3 class="user-profile right floated header" id="header-section">
                    <i class="certificate icon"></i>
                    EVENTS
                </h3>
                <div class="ui clearing divider"></div>
                <!--LIST OF EVENTS-->
                <div class="ui four cards">
                    <div class="card" ng-repeat="event in profile.otherUserEvents">
                        <div class="content" >
                            <div class="header">{{event.event_name}}</div>
                            <div class="description">{{event.Date}}</div>

                        </div>
                    </div>
                    
                </div>
                <br>
            </div>

            <!--SPONSORED EVENTS-->
            <div class="ui segment">
                <h3 class="ui right floated header" id="header-section">
                    SPONSORED EVENTS
                    <i class="hand rock icon"></i>
                </h3>
                <div class="ui clearing divider"></div>
                <!--LIST OF EVENTS-->
                <div class="ui middle aligned divided list">
                    <div class="item" ng-repeat = "sponsored in profile.sponsoredEvents">
                        <div class="content">
                            <a class="header">{{sponsored.event_name}}</a>
                            <div class="description">Last {{sponsored.date_start}}.</div>
                        </div>
                    </div> 
            </div>

        </div>
    </div>
</div>