<link rel='stylesheet' href='css/user-dashboard.css'/>
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type='text/javascript' src='js/dashboard.js'></script>

<div class="ui fluid two column very relaxed grid" ng-controller = "userController as dashboard">

    <div class="five wide column">

        <div id="event-panel" class="ui card">
            <h1 id="event-name">Palarong UPLB</h1>
            <p id="event-details">
                The annual UPLB Sports Fest
            </p>
        </div>

        <div id="leaderboard" class="ui card">
            <div class="section-title">
                <h3>Leaderboard</h3>
            </div>
            <table class="ui very basic collapsing celled table">
                <thead>
                    <tr><th>Team</th>
                        <th>Total Score</th>
                    </tr>
                </thead>
                <tbody ng-repeat = "x in dashboard.teamGames">
                    <tr>
                        <td>
                            <h4 class="ui image header">
                                <img src="images/tnt.jpg" class="ui mini rounded image">
                                <div class="content">
                                    {{x.team_name}}
                                    <div class="sub header">Lorem Ipsum</div>
                                </div>
                            </h4>
                        </td>
                        <td>
                            {{x.score}}
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div id="member-panel" class="ui card">
            <div class="section-title">
                <h3>Participants</h3>
            </div>
            <br>
            <div id="member-icon-panel" class="ui four column grid">
                <div class="column">
                    <img class="ui image circular" src="images/id.jpg">
                </div>
                <div class="column">
                    <img class="ui image circular" src="images/id.jpg">
                </div>
                <div class="column">
                    <img class="ui image circular" src="images/id.jpg">
                </div>
                <div class="column">
                    <img class="ui image circular" src="images/id.jpg">
                </div>
                <div class="column">
                    <img class="ui image circular" src="images/id.jpg">
                </div>
                <div class="column">
                    <img class="ui image circular" src="images/id.jpg">
                </div>
                <div class="column">
                    <img class="ui image circular" src="images/id.jpg">
                </div>
                <div class="column">
                    <img class="ui image circular" src="images/id.jpg">
                </div>
                <div class="column">
                    <img class="ui image circular" src="images/id.jpg">
                </div>
                <div class="column">
                    <img class="ui image circular" src="images/id.jpg">
                </div>
            </div>
    </div>

    <div class="eleven wide column" id="right-panel">
        <div class="ui section" id="membership-request-panel">
            <div class="ui card member-request">
                
                <div class="request-text">
                    Angelo Guiam has requested to join Palarong UPLB
                </div>
                <div class="request-approve two wide column">
                    <button type="button" name="button" class="membership-command">X</button>
                </div>
                <div class="request-decline two wide column">
                    <button type="button" name="button" class="membership-command">/</button>
                </div>
            </div>
        </div>
        <br>
        <image src="images/bball.jpg" class="ui image" id="event-poster"/>
        <br>
        <div class="ui section" ng-repeat = "game in dashboard.currentGames">
            <div class="section-title">
                <h3>Today</h3>
                <div class="ui card today-sched">
                    <h5>{{game.sport_name + " Game " + game.game_id }}</h5>

                    <p>{{game.Date}}</p>
                    <p>{{game.venue_name}}</p>
                </div>
            </div>
        </div>
        <br>
        <div class="ui section" >
            <div class="section-title" >
                <h3>Upcoming Games</h3>
                <br>
                <div class="ui card today-sched">
                    <div ng-repeat = "up in dashboard.upcomingGames">
                        <h5>{{up.Date}}</h5>
                        <p>{{up.sport_name + " Game " +up.game_id}}</p>
                        <p>{{up.venue_name}}</p>
                    </div>
                   
                </div>

            </div>
        </div>
        <br>

    <div class="ten wide column">

        <div class="slider slider1">
            <div class="slides">
              <div class="slide-item item1">
              </div>
              <div class="slide-item item2">
              </div>
              <div class="slide-item item3">
              </div>
              <div class="slide-item item4">
              </div>
          	</div>
    	</div>

        <!-- loads team rank bar chart -->
        <div id="chart_div"></div>

        <h2>Game Standing</h2>

        <div class="ui two column center aligned padded grid">

            <div class="ui column">
                <div class="ui card score-panel">
                    <h3>Basketball</h3>
                    <div class="ui two column description grid">
                        <div class="column">
                            <h1 class="ui header">
                                <img src="images/tnt.jpg" class="ui medium image">
                                67
                            </h1>
                            TNT Tropatexters
                        </div>

                        <div class="column">
                            <h1 class="ui header">
                                <img src="images/star.jpg" class="ui medium image">
                                78
                            </h1>
                            Star Hotshots
                        </div>
                    </div>
                </div>
            </div>

            <div class="ui column">
                <div class="ui card score-panel">
                    <h3>Basketball</h3>
                    <div class="ui two column description grid">
                        <div class="column">
                            <h1 class="ui header">
                                <img src="images/tnt.jpg" class="ui medium image">
                                67
                            </h1>
                            TNT Tropatexters
                        </div>

                        <div class="column">
                            <h1 class="ui header">
                                <img src="images/star.jpg" class="ui medium image">
                                78
                            </h1>
                            Star Hotshots
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <h3>Game Recap</h3>
        <img class="ui huge fluid rounded image" src="images/recap1.jpg"><br>
        <img class="ui huge fluid rounded image" src="images/recap2.jpg">

    </div>


</div>
