<link rel='stylesheet' href='css/user-view-event.css' />
<script type='text/javascript' src='js/user-event.js'></script>
<link rel='stylesheet' href='semantic-ui-calendar/dist/calendar.css'/>
<script src="semantic-ui-calendar/dist/calendar.js"></script>
<script type="text/javascript">
    $(function() {
    $('.ui.dropdown').dropdown();
});
</script>


<script type="text/javascript" src="jquery.js"></script>

<script>
$('#start-date-pick').calendar();
$('#end-date-pick').calendar();
</script>

<div id="main-wrapper" ng-controller="eventController as event">

    <div class="ui grid container" ng-controller="loggedUserController as logged">
        <div class="five wide column" ng-init="event.viewClickedEvent()">
        	<div class="ui center aligned segment" ng-repeat="x in event.allEvents">
        		<h2 class = "ui centered header" id="header-section">
        			{{x.event_name}}
        			<div class="sub header" id="header-section">
        				Start Date:{{x.date_start}}<br>
        				End Date:{{x.date_end}}<br>
        				Open for registration? : {{x.allow_reg == '1' ? 'Yes' : 'No'}}
        			</div>
        		</h2>
        		<!-- <button class="positive ui button">JOIN</button> -->
        		<button class="ui circular edit icon button" ng-click="event.updateEvent()">
	        		<i class="edit icon"></i>
	        	</button>
	        	<button class="ui red circular trash icon button" id="button-delete" ng-click ="event.openModal('delete-event-modal')">
	        		<i class="trash icon"></i>
	        	</button>
	        		
        	</div>
            <div ng-controller="guestController as logged">
            <div ng-show="logged.hasUser" class="ui card">
                <a ng-click="event.userJoin()"><button class="fluid positive ui button" id="join-button">JOIN</button></a>
            </div>

            <!-- MODAL FOR DELETE EVENT -->
            <div class="ui basic modal" id="delete-event-modal">
                    <div class="ui icon header">
                          <i class="trash icon"></i> DELETE
                    </div>
                    <div class="actions" ng-repeat="x in event.allEvents">
                        <div class="ui red basic cancel inverted button" ng-click="UEC.closeModal('delete-modal')">
                         <i class="remove icon"></i> No
                        </div>
                        <div class="ui green ok inverted button" ng-click="event.deleteEvent(x.event_id); UEC.closeModal('delete-modal')">
                        <i class="checkmark icon"></i> Yes
                        </div>
                    </div>
           </div>


        	<div class="ui segment">
        		<div class="ui form" ng-repeat="x in event.allEvents">
        			<!--<div ng-show="logged.userId == event.currentUserId">-->
        			<div class="field">
        				<input type="text" ng-model="event.eventName" ng-init="event.eventName=x.event_name" name="event_name">
        			</div>
        			<div class="field">
        				<div class="ui calendar" id="start-date-pick">
        					<div class="ui input left icon">
	                        	<i class="calendar icon"></i>
	                       		<input type="text" ng-model="event.dateStart" ng-init="event.dateStart = x.date_start" name="start_date">
                    		</div>
        				</div>
        			</div>
        			<div class="field">
        				<div class="ui calendar" id="end-date-pick">
        					<div class="ui input left icon">
	                        	<i class="calendar icon"></i>
	                       		<input type="text" ng-model="event.dateEnd" ng-init="event.dateEnd = x.date_end" name="end_date">
                    		</div>
        				</div>
        			</div>
        			<div class="inline fields">
        				<label for="register">Open for registration?</label>
        				<div class="field">
        					<div class="ui radio checkbox">
        						<input type="radio" name="register" ng-model="event.allowReg" value="1" checked> 
        						<label>Yes</label>
        					</div>
        				</div>
        				<div class="field">
        					<div class="ui radio checkbox">
        						<input type="radio" name="register" ng-model="event.allowReg" value="0"> 
        						<label>No</label>
        					</div>
        				</div>
        			</div>
        		</div>
        	</div>
        </div>


        <!-- right side of the page -->
        <div class = "eleven wide column" ng-controller="userEventController as UEC">
        <div id="panel" ng-controller="gameController as game" ng-init="game.viewThreeScoreboard()">
            <div class="ui cards">
                <div class="card card-content2" ng-repeat="x in game.gameThreeScoreboard" ng-show="game.gameThreeScoreboard!=null">
                    <div class="content" ng-click="game.viewGameFromScoreboard(x.game_id)">
                        <div class="header">{{x.sport_name}}</div>
                    <table class="ui celled padded table">
                        <tbody>
                            <tr>
                                <td><img class="ui mini circular image" src="/images/tnt.jpg" >{{x.team}} - {{x.score}}</td>
                            </tr>
                            <tr>
                                <td><img class="ui mini circular image" src="/images/tnt.jpg" >{{x.team2}} - {{x.score2}}</td>
                            </tr>
                        </tbody>
                    </table>
                    </div>
                </div>
            </div>
        </div>
        <a class="ui button btn-slide" ng-click="UEC.scoreboard()">
         See Scores
        </a>

        		<div class="ui segment" ng-controller="sportController as sport">
        			<h1 class="ui header">
        				SPORTS
        			</h1>


                    <div class="ui simple selection dropdown" ng-init="UEC.viewAvailableSports()">
                      <div class="default text">Sports</div>
                      <i class="dropdown icon"></i>
                      <div class="menu">
                        <div class="item" ng-repeat="x in UEC.allAvailableSports" ng-click="UEC.setSportId(x.sport_id)" value="x.sport_id" ng-model="UEC.sportId">
                          {{x.sport_name}}
                        </div>
                      </div>
                    </div>
                    <button class="ui plus icon button" ng-click="UEC.attachSportToEvent()">
                        <i class="plus icon"></i>
                    </button>
        			<!-- List of Sports -->
        			<div class="ui middle aligned divided list">
        				<div class="item"  ng-repeat="x in UEC.allSports">
        					<div class="right floated content">
	        					<button class="ui red  trash icon button" ng-click="UEC.setCurrentId(x.sport_id,'delete-modal')" ><i class="trash icon"></i>
	        					</button>
        					</div>
        					<div class="content" ng-click="UEC.openGame(x.sport_id)">
	        					<a><h4>{{x.sport_name}}</h4></a>
	        				</div>
        				</div>
        			</div>

                    <div class="ui basic modal" id="delete-modal">
                        <div class="ui icon header">
                            <i class="trash icon"></i> DELETE
                        </div>
                        <div class="actions">
                            <div class="ui red basic cancel inverted button" ng-click="UEC.closeModal('delete-modal')">
                                <i class="remove icon"></i> No
                            </div>
                            <div class="ui green ok inverted button" ng-click="UEC.deleteSportFromEvent();UEC.closeModal('delete-modal')">
                                <i class="checkmark icon"></i> Yes
                            </div>
                        </div>
                    </div>
        		
        		</div>
        		<div class="ui segment" ng-controller="teamController as team">
        			<h1 class="ui header">
        				TEAM
        			</h1>
        			<div class="ui form">
        				<div class="inline fields">
	        				<div class="field">
	        				<input type="text" ng-model="team.teamName" name="team_name">
	        				</div>
	        				<div class="field">
	        					<button class="ui plus icon button" ng-click="team.addTeam(event.eventId)">
                                <i class="plus icon"></i>
                                </button>
	        				</div>
        				</div>
        			</div>
        			<br>
                    <!-- hindi ko gets kung paano gusto iimplement yung team, improvised muna FROM HERE
                    -->
        			<div class="ui four cards" ng-init="team.viewTeamPerEvent()">
        				<div class="card" ng-repeat="x in team.allTeams">
        					<div class="content">
        						<a class="header" ng-click = "team.viewTeam(x.team_id)">{{x.team_name}}</a>
        					</div>
        					<div class="extra content">
	        					<button class="ui red  right floated  trash icon button" ng-click="team.deleteTeamFromEvent(x.team_id)">
	 							<i class="trash icon"></i>
	 							</button>
        					</div>
        				</div>
        			</div>
        		</div>
                <!-- UNTIL HERE -->

        		<div class="ui segment" ng-controller="sponsorController as sponsor">
        			<h1 class="ui header">
        				SPONSORS
        			</h1>
                    <div class="ui simple selection dropdown" ng-init="sponsor.viewAllSponsor()">
                        <input name="Sponsors" type="hidden">
                      <div class="default text">Sponsors</div>
                      <i class="dropdown icon"></i>
                      <div class="menu">
                        <div class="item" ng-repeat="x in sponsor.allSponsors" ng-click="sponsor.setSponsorId(x.sponsor_id)" value="x.sponsor_id" ng-model="sponsor.sponsorId">
                          {{x.sponsor_name}}
                        </div>
                      </div>
                    </div>
                    <button class="ui plus icon button" ng-click="sponsor.sponsorEvent()">
                        <i class="plus icon"></i>
                    </button>
                    <!-- List of Sponsors -->
                    <div class="ui middle aligned divided list" ng-init="sponsor.getSponsorByEvent()">
                        <div class="item" ng-repeat="x in sponsor.allEventSponsors">
                            <div class="right floated content">
                                <button class="ui red  trash icon button" ng-click="sponsor.deleteSponsorFromEvent(x.sponsor_id)"><i class="trash icon"></i>
                                </button>
                            </div>
                            <div class="content">
                                <h4>{{x.sponsor_name}}</h4>
                            </div>
                        </div>
                    </div>
        		</div>
        </div>	
    </div>
</div>