<link rel='stylesheet' href='css/event.css'/>

<div class="ui container">
	<div ng-controller="userEventController as UEC">
		<table id="sports" class="ui celled table">
			<tr> <th> <h1> List of Sports </h1></th></tr>

			<tbody>
				<tr ng-repeat="x in UEC.allSports" ng-init="a=x.sport_id"> 
					<td ng-click="showGame[$index]=!showGame[$index]">
					{{x.sport_name}} 
						<div>
							<table class="ui single line table" ng-show="showGame[$index]">
								<thead>
				                    <tr>
				                    	<th> Game ID </th>
				                        <th> Date/Time </th>
				                        <th> Venue </th>
				                    </tr>
				                </thead>
				                <tbody ng-init="UEC.viewGamesByEvent(x)">
				                    <tr ng-repeat="y in UEC.allGames[a-1]" ng-click="UEC.viewGame(y.game_id)">
				                        <td id="game"> {{y.game_id}} </td>
				                        <td id="date"> {{y.date_start|date : 'yyyy-mm-dd'}} </td>
				                        <td id="venue"> {{y.venue_id}} </td>
				                    </tr>
				                </tbody>
				            </table>
						</div>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>