<link rel='stylesheet' href='css/dashboard-favorites.css'/>
<script type='text/javascript' src='js/default.js'></script>


<div id="main-wrapper" class="ui container">

    <div class="ui grid">
      <div class="four wide column">
          <div class="ui card">
              Favorite A
          </div>
      </div>
      <div class="four wide column">
          <div class="ui card">
              Favorite B
          </div>
      </div>
      <div class="four wide column">
          <div class="ui card">
              Favorite C
          </div>
      </div>
      <div class="four wide column">
          <div class="ui card">
              Favorite D
          </div>
      </div>
    </div>

</div>
