<link rel='stylesheet' href='css/view-all-events.css'/>
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

<div class="ui container">

	<div class="ui segment" id="header-segment">
		<h1 class="ui center aligned header">EVENTS</h1>
	</div>
	<!--LIST OF EVENTS-->
	<div class="ui segment" id="white-segment">
		<div class="ui four cards">
			<div class="card">
				<div class="content">
					<a class="header">EVENT</a>
					<div class="meta">DATE</div>
				</div>
			</div>
			<div class="card">
				<div class="content">
					<a class="header">EVENT</a>
					<div class="meta">DATE</div>
				</div>
			</div>
			<div class="card">
				<div class="content">
					<a class="header">EVENT</a>
					<div class="meta">DATE</div>
				</div>
			</div>
			<div class="card">
				<div class="content">
					<a class="header">EVENT</a>
					<div class="meta">DATE</div>
				</div>
			</div>
			<div class="card">
				<div class="content">
					<a class="header">EVENT</a>
					<div class="meta">DATE</div>
				</div>
			</div>
			<div class="card">
				<div class="content">
					<a class="header">EVENT</a>
					<div class="meta">DATE</div>
				</div>
			</div>
			<div class="card">
				<div class="content">
					<a class="header">EVENT</a>
					<div class="meta">DATE</div>
				</div>
			</div>
			<div class="card">
				<div class="content">
					<a class="header">EVENT</a>
					<div class="meta">DATE</div>
				</div>
			</div>

		</div>
	</div>
</div>
