<link rel='stylesheet' href='css/dashboard.css'/>
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type='text/javascript' src='js/dashboard.js'></script>

<div class="ui fluid three column very relaxed grid">

    <div class="ten wide column">

        <div id="chart_div"></div>
        
        <h2>Game Standing</h2>

        <div class="ui two column center aligned padded grid">

            <div class="ui column">
                <div class="ui card score-panel">
                    <h3>Basketball</h3>
                    <div class="ui two column description grid">
                        <div class="column">
                            <h1 class="ui header">
                                <img src="images/tnt.jpg" class="ui medium image">
                                67
                            </h1>
                            TNT Tropatexters
                        </div>

                        <div class="column">
                            <h1 class="ui header">
                                <img src="images/star.jpg" class="ui medium image">
                                78
                            </h1>
                            Star Hotshots
                        </div>
                    </div>
                </div>
            </div>

            <div class="ui column">
                <div class="ui card score-panel">
                    <h3>Basketball</h3>
                    <div class="ui two column description grid">
                        <div class="column">
                            <h1 class="ui header">
                                <img src="images/tnt.jpg" class="ui medium image">
                                67
                            </h1>
                            TNT Tropatexters
                        </div>

                        <div class="column">
                            <h1 class="ui header">
                                <img src="images/star.jpg" class="ui medium image">
                                78
                            </h1>
                            Star Hotshots
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <h3>Game Recap</h3>
        <img class="ui huge fluid rounded image" src="images/recap1.jpg"><br>
        <img class="ui huge fluid rounded image" src="images/recap2.jpg">

    </div>

    <div class="6 wide column">

        <div id=leaderboard-panel class="ui padded segment right-panel">
            <h3>Leaderboard</h3>
            <table class="ui very basic collapsing celled table">
                <thead>
                    <tr><th>Team</th>
                        <th>Total Score</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <h4 class="ui image header">
                                <img src="images/tnt.jpg" class="ui mini rounded image">
                                <div class="content">
                                    TNT Tropa Texters
                                    <div class="sub header">Lorem Ipsum</div>
                                </div>
                            </h4>
                        </td>
                        <td>
                            22
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <h4 class="ui image header">
                                <img src="images/star.jpg" class="ui mini rounded image">
                                <div class="content">
                                    Star Hotshots
                                    <div class="sub header">Lorem Ipsum
                                    </div>
                                </div>
                            </h4>
                        </td>
                        <td>
                            20
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <h4 class="ui image header">
                                <img src="images/logo.jpg" class="ui mini rounded image">
                                <div class="content">
                                    Hello World
                                    <div class="sub header">Lorem Ipsum
                                    </div>
                                </div>
                            </h4>
                        </td>
                        <td>
                            20
                        </td>
                    </tr>

                </tbody>
            </table>
        </div>

        <div id="game-sched-panel" class="ui padded segment right-panel">
            <h3>Game Schedule</h3>
            <div class="ui feed sched-feed">
                <div class="event">
                    <div class="label">
                        <img src="images/tnt.jpg">
                    </div>
                    <div class="content">
                        <div class="date">
                            March 20, 2017
                        </div>
                        <div class="summary">
                            <h5>TNT vs Alaska Game 1</h5>
                            Copeland Gym, 5:00PM
                        </div>
                    </div>
                </div>
            </div>
            <div class="ui feed sched-feed">
                <div class="event">
                    <div class="label">
                        <img src="images/tnt.jpg">
                    </div>
                    <div class="content">
                        <div class="date">
                            March 20, 2017
                        </div>
                        <div class="summary">
                            <h5>TNT vs Alaska Game 1</h5>
                            Copeland Gym, 5:00PM
                        </div>
                    </div>
                </div>
            </div>
            <div class="ui feed sched-feed">
                <div class="event">
                    <div class="label">
                        <img src="images/tnt.jpg">
                    </div>
                    <div class="content">
                        <div class="date">
                            March 20, 2017
                        </div>
                        <div class="summary">
                            <h5>TNT vs Alaska Game 1</h5>
                            Copeland Gym, 5:00PM
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>
</div>
