<!DOCTYPE html>
<html>
<head>
    <title>Team Page</title>
    <link rel='stylesheet' href='stylesheets/semantic.min.css'/>
    <link rel='stylesheet' href='stylesheets/defaults.css'/>
    <link rel='stylesheet' href='stylesheets/team-page.css'/>
    <script type='text/script' src='scripts/jquery-3.1.1.min.js'></script>
    <script type='text/script' src='scripts/semantic.min.js'></script>
    <script type="text/javascript src='scripts/santa.js"></script>
    
</head>
<body>

    <!-- NAVIGATION SECTION -->
    <div class="ui fixed inverted menu">
        <div class="ui container">
            <a href="#" class="header item">
                <img class="logo" src="images/logo.jpg">
                &nbsp;&nbsp;Project Name
            </a>
            <a href="#" class="item">Home</a>
            <div class="ui simple dropdown item">
                Dropdown <i class="dropdown icon"></i>
                <div class="menu">
                    <a class="item" href="#">Link Item</a>
                    <a class="item" href="#">Link Item</a>
                    <div class="divider"></div>
                    <div class="header">Header Item</div>
                    <div class="item">
                        <i class="dropdown icon"></i>
                        Sub Menu
                        <div class="menu">
                            <a class="item" href="#">Link Item</a>
                            <a class="item" href="#">Link Item</a>
                        </div>
                    </div>
                    <a class="item" href="#">Link Item</a>
                </div>
            </div>
        </div>
    </div>


    <!-- CONTENT SECTION -->
    <div class="ui main" id="main-panel">
        <div class="ui container">
            <div class="ui grid">
                <div class="row">
                	<div class="ui cards">
                    <div class="ui card center aligned">
                        <div class="center aligned image">
                         <img id="im" src="images/team_icon.png">
                         </div>
                            <div class="content">
                            <div class="center aligned header">
                                Karasuno High School
                            </div>
                            <div class="description">
                                As a former powerhouse of Miyagi, Karasuno has represented the prefecture at Spring High nationals nine times. One of those occasions was under the guidance of Coach Ukai and the "Small Giant", and was famous throughout Miyagi. However, after the initial success, Karasuno failed to pass its prefecture's preliminaries in future tournaments and therefore received the derogatory nicknames "The Fallen Champions" and "The Flightless Crows." It wasn't until five years later did the team finally return to nationals.
                            </div>
                        
                        </div>
                    </div>

                    <div class="ui card" id="padcard"> 
                    	<div class="ui centered large header"> Team Players</div>
                    	<div class="ui horizontal list">
					    <div class="item">
					        <a class="ui tiny image" data-title="Hinata Sho">
					            <img id="image1" src="images/avatar.png">
					        </a>
					    </div>
					    <div class="item">
					        <a class="ui tiny image">
					            <img src="images/avatar1.png">
					        </a>
					    </div>
					    <div class="item">
					        <a class="ui tiny image">
					            <img src="images/avatar.png">
					        </a>
					    </div>
					    <div class="item">
					        <a class="ui tiny image">
					            <img src="images/avatar.png">
					        </a>
					    </div>
					    <div class="item">
					        <a class="ui tiny image">
					            <img src="images/avatar1.png">
					        </a>
					    </div>

					    </div>

                    </div>


                    <div class="ui card" id="card2">
                        <div class="content">
                            <div class="header"> Stats and Standing</div>

                            <div class="description">
                                <h3> 2W | 0L </h3>
                                <h3> Streak: Won 2</h3>
                            </div>

                            <hr>

                            <div class=" row">
                                <div class="column">
                                    <h2> Schedule of Games </h2>
                                </div>
                                <br>
                            </div>
                            <div class="ui row" >

                                <div id="forbut" class="ui row">
                                    <button class="ui animated button" tabindex="0">
                                        <div class="visible content">Prev </div>
                                        <div class="hidden content">
                                            <i class="left arrow icon"> </i>
                                        </div>
                                    </button>

                                    <button class="ui button">
                                        Today's Date
                                    </button>


                                    <button class="ui animated button" tabindex="0">
                                        <div class="visible content">Next </div>
                                        <div class="hidden content">
                                            <i class="right arrow icon"> </i>
                                        </div>
                                    </button>

                                   
                                    <div class="ui row" id="divtable1" style="border-color: #466675">
                    <meta name="viewport" content="width=device-width, initial-scale=1">
                    <table class="ui center aligned celled table">
                        <thead>
                            <tr>
                                <th>VS</th>
                                <th>Time</th>
                                <th>Location</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Show the matchup team here</td>
                                <td>Show the time here</td>
                                <td>Show the location here</td>
                                
                            </tr>
                        </tbody>
                    </table>
                </div>



                                </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- FOOTER SECTION -->
    <div class="ui inverted vertical footer segment" id="page-footer">
        <div class="ui center aligned container">
            <div class="ui center aligned stackable inverted divided grid">
                <div class="seven wide column">
                    <h4 class="ui inverted header">Footer Section</h4>
                    <p>We all love playing balls.</p>
                </div>
            </div>
            <div class="ui inverted section divider"></div>
            <div class="ui horizontal inverted small divided link list">
                <a class="item" href="#">Site Map</a>
                <a class="item" href="#">Contact Us</a>
                <a class="item" href="#">Terms and Conditions</a>
                <a class="item" href="#">Privacy Policy</a>
            </div>
        </div>
    </div>

</body>
</html>
